/cache
/inc/config.php
\.htaccess
/public
/build-tools/ckeditor/ckbuilder.jar
/var

# composer stuff
/vendor
/composer.phar
/doxygen
/coverage

# phpDocumentor stuff
/doc
/bin/phpDocumentor.phar
/bin/phpdoc

