default:
  context:
    parameters:
      base_url: http://localhost:1080

      config_file: inc/config.php
      sql_init_file: features/sql/db_init.sql
      sql_cleanup_file: features/sql/db_cleanup.sql

  extensions:
    Behat\MinkExtension\Extension:
      base_url: http://localhost:1080
      goutte: ~

  paths:
    features:  features
    bootstrap: features/bootstrap

annotations:
  paths:
    features: features/annotations

closures:
  paths:
    features: features/closures
