#
# To run analyse:
# bin/phpstan analyse --memory-limit=-1
#
# or (replacing conf level by 1, … up to 8):
# bin/phpstan analyse -l 1 --memory-limit=-1

includes:
#  - phpstan.local.neon

parameters:
  level: 5

  bootstrapFiles:
    - phpstan.bootstrap

  fileExtensions:
    - php
    - in

  scanFiles:
    - index.php

  paths:
    - admin
    - inc
    - plugins
    - themes/berlin
    - themes/blueSilence
    - themes/customCSS
    - themes/default
    - themes/ductile

  excludePaths:
    - inc/config.php
    - inc/libs/clearbricks/debian/*
    - inc/libs/clearbricks/tests/unit/*/*

  dynamicConstantNames:
    - DC_ADMIN_SSL
    - DC_ADMIN_URL
    - DC_ALLOW_MULTI_MODULES
    - DC_ALLOW_REPOSITORIES
    - DC_ANTISPAM_CONF_SUPER
    - DC_CRYPT_ALGO
    - DC_DBDRIVER
    - DC_DBHOST
    - DC_DBNAME
    - DC_DBPASSWORD
    - DC_DBPREFIX
    - DC_DBUSER
    - DC_DEBUG
    - DC_DEFAULT_JQUERY
    - DC_DEFAULT_THEME
    - DC_DEFAULT_TPLSET
    - DC_DIGESTS
    - DC_DISTRIB_PLUGINS
    - DC_DISTRIB_THEMES
    - DC_FAIRTRACKBACKS_FORCE
    - DC_FORCE_SCHEME_443
    - DC_L10N_ROOT
    - DC_L10N_UPDATE_URL
    - DC_MASTER_KEY
    - DC_MAX_UPLOAD_SIZE
    - DC_NEXT_REQUIRED_PHP
    - DC_NOT_UPDATE
    - DC_PLUGINS_ROOT
    - DC_QUERY_TIMEOUT
    - DC_RC_PATH
    - DC_REVERSE_PROXY
    - DC_ROOT
    - DC_SESSION_NAME
    - DC_SESSION_TTL
    - DC_STORE_NOT_UPDATE
    - DC_TPL_CACHE
    - DC_UPDATE_URL
    - DC_UPDATE_VERSION
    - DC_VAR
    - DC_VENDOR_NAME
    - DC_VERSION
    - DC_XMLRPC_URL

  reportUnmatchedIgnoredErrors: false

  ignoreErrors:

    # $p_url variable may not be defined (plugins)
    - message: '#Variable \$p_url might not be defined#'
      path: plugins/*/*.php

    # Property flatImport:: (plugins)
    - message: '#Property flatImport::#'
      path: plugins/importExport/*/*.php

    # $this variable may not be defined (plugins/themes)
    - message: '#Variable \$this might not be defined#'
      path: */*/_define.php

    # context object and auto properties
    - message: '#Access to an undefined property context::#'
      path: %currentWorkingDirectory%

    # record object and auto properties
    - message: '#Access to an undefined property record::#'
      path: %currentWorkingDirectory%

    # dcWidgets object and auto properties
    - message: '#Access to an undefined property dcWidgets::#'
      path: %currentWorkingDirectory%

    # xmlTag object and auto properties
    - message : '#Access to an undefined property xmlTag::#'
      path: %currentWorkingDirectory%

    # xmlTag object methods
    - message : '#Call to an undefined method xmlTag::#'
      path: %currentWorkingDirectory%

    # dcSettings object and auto properties
    - message : '#Access to an undefined property dcSettings::#'
      path: %currentWorkingDirectory%

    # dcPrefs object and auto properties
    - message : '#Access to an undefined property dcPrefs::#'
      path: %currentWorkingDirectory%

    # dbStruct object and auto properties
    - message : '#Access to an undefined property dbStruct::#'
      path: %currentWorkingDirectory%

    # fileItem object and auto properties
    - message : '#Access to an undefined property fileItem::#'
      path: %currentWorkingDirectory%

    # cursor object and auto properties
    - message : '#Access to an undefined property cursor::#'
      path: %currentWorkingDirectory%

    # static record extensions
    - message: '#Call to an undefined method record::#'
      path: %currentWorkingDirectory%

    # static property rsExtUser
    - message: '#Static property rsExtUser::#'
      path: %currentWorkingDirectory%

    # static property rsExtBlog
    - message: '#Static property rsExtBlog::#'
      path: %currentWorkingDirectory%

    # Intensive use of magic __set/__get/__call/__invoke causes theses wrong warnings
    - message: '#Call to an undefined method form[a-zA-Z0-9\\_]+::#'
      path: %currentWorkingDirectory%

    # Intensive use of magic __set/__get/__call/__invoke causes theses wrong warnings
    - message: '#Access to an undefined property form[a-zA-Z0-9\\_]+::#'
      path: %currentWorkingDirectory%

    # form<*>filters
    - message: '#Access to an undefined property admin[a-zA-Z0-9\\_]+Filter::\$[a-zA-Z0-9\\_]+.#'
      path: %currentWorkingDirectory%

    # dcAdminfilters
    - message: '#Access to an undefined property dcAdminFilter::\$[a-zA-Z0-9\\_]+.#'
      path: %currentWorkingDirectory%

    # adminMediaPage
    - message: '#Access to an undefined property adminMediaPage::\$[a-zA-Z0-9\\_]+.#'
      path: %currentWorkingDirectory%

    # arrayObject/type
    - message: '#ArrayObject\<\*NEVER\*, \*NEVER\*\> does not accept#'
      path: %currentWorkingDirectory%

    # dcAdmin::$widgets user-defined properties
    - message: '#Access to an undefined property dcCore::\$widgets.#'
      path: %currentWorkingDirectory%

    # dcAdmin::$default_widgets user-defined properties
    - message: '#Access to an undefined property dcCore::\$default_widgets.#'
      path: %currentWorkingDirectory%

    # Temporary until 2.24 (or later)
    # -------------------------------

    # $core as class constructor parameter
    - message: '#Constructor of class [a-zA-Z0-9\\_]+ has an unused parameter \$core.#'
      path: %currentWorkingDirectory%

# Notes:
#
# Use /* @phpstan-ignore-next-line */ or // @phpstan-ignore-line
# to ignore some specific lines in code
