#
# To run analyse:
# bin/phpstan analyse --memory-limit=-1
#
# or (replacing conf level by 1, … up to 9):
# bin/phpstan analyse -l 1 --memory-limit=-1

includes:
#  - phpstan.local.neon
# Experimental analysis (uncomment next line to use it)
#  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 8

# Go over level 9 (uncomment one/many of next lines to activate them):
#  checkUninitializedProperties: true
#  checkImplicitMixed: true
  checkBenevolentUnionTypes: true

  editorUrl: 'file://%%file%%'

  bootstrapFiles:
    - phpstan.bootstrap

  fileExtensions:
    - php
    - in

  scanFiles:
    - index.php

  paths:
    - admin
    - inc
    - src
    - plugins
    - themes/berlin
    - themes/blowup
    - themes/blueSilence
    - themes/customCSS
    - themes/ductile

  excludePaths:
    - inc/config.php

  dynamicConstantNames:
    - DC_ANTISPAM_CONF_SUPER
    - DC_FAIRTRACKBACKS_FORCE

  reportUnmatchedIgnoredErrors: false

  # List of classes with dynamic properties not fully defined in their PHPDoc
  universalObjectCratesClasses:
    - Dotclear\Core\Backend\Filter\FilterBlogs
    - Dotclear\Core\Backend\Filter\FilterComments
    - Dotclear\Core\Backend\Filter\FilterPosts
    - Dotclear\Core\Backend\Filter\FilterUsers
    - Dotclear\Core\Backend\Filter\FilterMedia
    - Dotclear\Core\Backend\MediaPage
    - Dotclear\Core\Backend\Utility
    - Dotclear\Core\Frontend\Ctx
    - Dotclear\Database\Cursor
    - Dotclear\Database\MetaRecord
    - Dotclear\Database\Record
    - Dotclear\Database\Structure
    - Dotclear\Helper\File\File
    - Dotclear\Helper\Html\XmlTag
    - Dotclear\Helper\Stack\Filter
    - Dotclear\Interface\Core\BlogSettingsInterface
    - Dotclear\Interface\Core\BlogWorkspaceInterface
    - Dotclear\Interface\Core\UrlInterface
    - Dotclear\Interface\Core\UserPreferencesInterface
    - Dotclear\Interface\Core\UserWorkspaceInterface
    - Dotclear\Module\ModuleDefine

  ignoreErrors:

    # $this variable may not be defined (plugins/themes)
    - message: '#Variable \$this might not be defined#'
      path: */*/_define.php

    # XmlTag object and magic methods
    - message : '#Call to an undefined method Dotclear\\Helper\\Html\\XmlTag::#'

    # MetaRecord object and magic methods
    - message: '#Call to an undefined method Dotclear\\Database\\MetaRecord::#'

# Notes:
#
# Use /* @phpstan-ignore-next-line */ or // @phpstan-ignore-line
# to ignore some specific lines in code
