.footer__widgets {
    padding: 1em;
    background-color: $white;
    text-align: center;
    line-height: 2;
}
.blogcustom__title {
    @include visually-hidden;
}
.footer__widgets .widget {
    margin-top: 1em;
}
.footer__widgets h3 {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: bold;
}
.footer__widgets ul {
    @include inline-block-list(.5em);
}
