.enhanced_uploader .button {
  display: inline-block;
  *display: inline;
  border-radius: .2em;
  background: #2373A8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2373A8), to(#2C8FD1));
  background: -moz-linear-gradient(top,  #2373A8,  #2C8FD1);
  outline: none;
  border: 1px solid #2373A8;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin-right: 4px;
  padding: .1em .5em 0 .5em;
  font-size: 1em;
}

.enhanced_uploader label.button.add {
  position: relative;
}

.enhanced_uploader .button:hover {
  background: #2373A8;
  border: 1px solid #2C8FD1;
}

.enhanced_uploader .button.add input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.enhanced_uploader .progress .bar {
  background: transparent url('loader.png') repeat left top;
}

.enhanced_uploader .upload-status {
  margin-top: 3px;
  width: 13px;
  height: 13px;
  display: block;
}

.enhanced_uploader .upload-status.ok {
  background: transparent url('../../images/check-on.png') no-repeat left top;
}

.enhanced_uploader .upload-status.error {
  background: transparent url('../../images/check-off.png') no-repeat left top;
}

.enhanced_uploader .table-files .button.cancel {
  background: transparent url('../../images/check-off.png') no-repeat left top;
  width: 13px;
  height: 13px;
  margin-top: 3px;
  border: none;
}

.enhanced_uploader .one-file {
  display: none;
}

.table-files, .button.cancel {
  display: none;
}

.enhanced_uploader .table-files {
  display: block;
}

.enhanced_uploader .button.cancel {
  display: inline-block;
}

label span.one-file {
  display: inline;
}
