.enhanced_uploader .button {
  display: inline-block;
  *display: inline;
  border-radius: .2em;
  outline: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-right: 4px;
  padding: .1em .5em 0 .5em;
  font-size: 1em;
  font-family: Helvetica,Arial,sans-serif;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#f5f5f5));
  border: 1px solid #DFDFDF;
}

.enhanced_uploader .button.start {
  background: #2373A8;
  background: -webkit-gradient(linear, left top, left bottom, from(#2373A8), to(#2C8FD1));
  background: -moz-linear-gradient(top,  #2373A8,  #2C8FD1);
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  color: #fff;
  border: 1px solid #2373A8;
}

.enhanced_uploader .button.start:hover {
  background: #2373A8;
  border: 1px solid #2C8FD1;
}

.enhanced_uploader .cancel, .enhanced_uploader .clean, .enhanced_uploader .start {
  margin-top: 0;
}

.enhanced_uploader #upfile {
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.button.clean, .button.cancel, .button.add, .enhanced_uploader .fileupload-buttonbar .button.start {
  display: none;
}

.enhanced_uploader .button.add {
  display: inline-block;
}

.enhanced_uploader .max-size {
  display: block;
}

.enhanced_uploader .one-file {
  display: none;
}

label span.one-file {
  display: inline;
}

/* files */
.upload-msg {
  font-weight: bold;
}

.upload-msg.upload-error {
  color: #c00;
}

.upload-files {
  padding: 0 0.5em;
  margin: 10px 0;
}

.upload-file {
  margin: 0 0 8px 0;
  position: relative;
}

.upload-fileinfo {
  margin-left: 16px;
}

.upload-fileinfo .upload-filecancel {
  display: block;
  margin-top: 3px;
  width: 20px;
  height: 20px;
  background: transparent url("cancel.png") no-repeat left top;
  text-indent: -1000px;
  cursor: pointer;
  float: left;
}

.upload-filemsg {
  font-weight: bold;
  color: green;
}

.upload-filemsg.upload-error {
  color: #c00;
}

.upload-progress {
  padding: 0 1em;
}

.upload-progress div {
  height: 10px;
  width: 0;
  font-size: 0.8em;
  line-height: 1em;
  height: 1em;
  padding: .2em 0;
  text-align: right;
  background: green url(loader.png) repeat-x left top;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}
