@charset "UTF-8";
/* pour le head - a réflechir : <meta name="viewport" content="width=device-width" /> */

/* petit ours */
@media screen and (max-width:640px) {
body {
	padding: 0 1%;
	}
}

/* moyen ours */
@media screen 
and (min-width: 641px)
and (max-width: 960px) {
body {
	padding: 0 10%;
	color: #999;
	}
}

/* grand ours */
@media screen 
and (min-width: 961px)
and (max-width: 1420px) {
body {
	padding: 0 15%;
	color: red;
	}
}

/* yeti */
@media screen 
and (min-width: 1421px) {
body {
	padding: 0 15%;
	background: pink;
	}
}