@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100.1%;
  line-height: 1.5;
}
div,
form,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}
h1 {
  margin: 0;
  font-weight: normal;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.33em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1.5em;
}
p {
  margin: 1em 0 0.5em 0;
}
img a {
  border: none;
}
sup,
sub {
  font-size: calc(0.5em + 4px);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: calc(-0.83 * (1em - 4px));
}
sub {
  top: calc(0.415 * (1em - 4px));
}
abbr {
  border-bottom: 1px dotted;
  cursor: help;
}
strong {
  font-size: 0.94em;
}
blockquote,
q {
  font-style: italic;
}
blockquote em,
q em {
  font-style: normal;
}
cite {
  font-size: 0.9em;
}
ul,
ol,
dd {
  margin: 1em 0 0.5em 1.5em;
}
ul ul,
ol ol {
  margin-top: 0.5em;
}
code,
pre {
  font-family: 'Andale mono', 'Courier New', Courier, mono;
  font-size: 0.875em;
}
code {
  padding: 0 2px;
}
pre {
  margin: 1em;
  overflow: auto;
  padding: 1px 0.5em;
  line-height: 1.2;
}
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #aaa;
  width: 60%;
  height: 1px;
}
input,
button,
select {
  vertical-align: middle;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
