
.cu-ctrl {
	background: #f5f5f5;
	padding: .5em 0 0 0;
	margin: 0 0 1em 0;
	overflow: hidden;
}
.cu-msg {
	font-weight: bold;
}
.cu-msg.cu-error {
	color: #c00;
}
.cu-files {
	padding: 0 0.5em;
	margin: 10px 0;
}
.cu-file {
	margin: 0 0 8px 0;
	position: relative;
}
.cu-fileinfo {
	margin-left: 16px;
}
.cu-fileinfo span.cu-filecancel {
	display: block;
	position: absolute;
	top: 2px;
	left: 0px !important;
	left: -16px;
}
.cu-filecancel a {
	display: block;
	width: 12px;
	height: 12px;
	background: transparent url(cancel.png) no-repeat top left;
	border: none;
	text-indent: -5000px;
	outline: none;
}
.cu-filemsg {
	font-weight: bold;
	color: green;
}
span.cu-filemsg.cu-error {
	color: #c00;
}
.cu-progress {
	margin-left: 16px;
}
.cu-progress div {
	height: 10px;
	width: 0;
	font-size: 0.8em;
	line-height: 1em;
	height: 1em;
	padding: .2em 0;
	text-align: right;
	background: green url(loader.png) repeat-x top left;
	color: white;
	font-weight: bold;
	-moz-border-radius: 2px;
}
.cu-btn {
	padding: 0 0.5em;
	line-height: 1.2em;
	height: 1.5em;
	margin-top: 1em;
	position: relative;
}
.cu-btn span {
	display: block;
	margin: 0 1em 0 0;
	float: right;
}
.cu-btn span a {
	display: block;
	padding: .3em 1.5em;
}
span.cu-btn-browse {
	float: none;
	position: absolute;
	left: 0;
	margin: 0;
}
span.cu-btn-upload, span.cu-btn-clean {
	margin-right: 0;
}
span.cu-btn-upload a.button {
	color: #fff;
	border: 1px solid #2373A8;
	background: #2373A8;
	background: -webkit-gradient(linear, left top, left bottom, from(#2C8FD1), to(#2373A8));
	background: -moz-linear-gradient(top,  #2C8FD1,  #2373A8);
}
span.cu-btn-upload a.button:hover, 
span.cu-btn-upload a.button:focus {
	color: #fff;
	border: 1px solid #2C8FD1;
	background: #2C8FD1;
	background: -webkit-gradient(linear, left top, left bottom, from(#2373A8), to(#2C8FD1));
	background: -moz-linear-gradient(top,  #2373A8,  #2C8FD1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2373A8', endColorstr='#2C8FD1');
}
.cu-maxsize.form-note {
	clear: both;
	margin: 1.5em 0 0;
	font-style: italic;
}
.cu-disable {
	margin: 1em 0;
	padding: 0 0 0.5em 0.5em;
}