:is(#theme-new, #theme-activate, #theme-deactivate, #theme-update) {
  justify-content: flex-start;
  column-gap: 1em;
  margin-block-end: 1em;
}

.box.theme {
  padding: 10px 10px 5px 10px;
  border: 1px solid var(--theme-box-border);
  position: relative;
  &:hover {
    background-color: var(--theme-box-over);
  }

  &.module-git {
    background: url(git-branch.svg) no-repeat top right;
    background-size: 1.5em;
    background-origin: content-box;
    background-color: transparent;
  }
}

.module-name,
.module-name label {
  margin-bottom: 0.5em;
  color: var(--theme-name-color);
}

.module-sshot {
  text-align: center;
  img {
    box-shadow:
      0.9px 0.9px 2.2px rgba(0, 0, 0, 0.07),
      2.1px 2.1px 5.3px rgba(0, 0, 0, 0.05),
      4px 4px 10px rgba(0, 0, 0, 0.042),
      7.1px 7.1px 17.9px rgba(0, 0, 0, 0.035),
      13.4px 13.4px 33.4px rgba(0, 0, 0, 0.028),
      32px 32px 80px rgba(0, 0, 0, 0.02);
    border: 1px solid var(--theme-img-border);
    max-width: 100%;
  }
}

.module-infos p {
  margin-top: 0.5em;
}

.module-actions {
  margin-top: 1em;
}

.module-post-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5em;
}

span:is(.module-version, .module-locked)::before {
  content: '- ';
}

.module-name input[type='checkbox'] {
  margin-bottom: 0;
}

/**
Les screenshots des thèmes ont deux tailles possibles :
- dans Ajouter des thèmes : 240px (+ 10 padding image + 20 padding boîte + 6 bordure + 2 ombrage = 278)
- dans Thèmes installés : 280px (+ 10 padding-image + 20 padding-boîte + 2 ombrage = 318)
On adapte largeur et hauteur en fonction
*/

.box.theme details {
  margin-top: 0.25em;
  .mod-more {
    margin-top: 0.5em;
    display: inline-block;
  }
}

:is(#theme-new, #theme-update) .box.theme {
  /* Ajouter un thème */
  width: 278px;
  min-height: 275px;
  max-width: 278px;
}

#theme-new .module-sshot img {
  /* Pour ceux qui n'ont pas de miniature on contraint l'image */
  max-width: 240px;
  max-height: 210px;
  overflow: hidden;
}

#theme-deactivate .box.theme {
  /* Thèmes désactivés */
  width: 278px;
  max-width: 278px;
}

#theme-activate .box.theme {
  /* Thèmes installés */
  width: 318px;
  min-height: 304px;
  max-width: 318px;
}

.with-js .module-sshot:hover {
  cursor: pointer;
}
@media not (scripting: none) {
  // = with JS
  .module-sshot:hover {
    cursor: pointer;
  }
}

/* mise en forme pour la boîte du thème courant */

.box.current-theme {
  /* Thème courant */
  width: calc(636px + 1em);
  max-width: calc(636px + 1em);
  padding: 20px 18px 6px;
  background-color: var(--theme-current-background);
  border: 1px solid var(--theme-current-border);
  min-height: 326px;
  position: relative;
  flex-basis: 100%;
  .module-sshot:hover {
    cursor: auto;
  }
  .module-sshot img {
    float: left;
    margin-right: 2em;
    border: 9px solid var(--theme-current-img-border);
    max-width: 308px;
    max-height: 273px;
  }
  .module-name {
    color: var(--theme-current-name-color);
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  .module-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &.module-git {
    background-image: url(git-branch.svg);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-origin: content-box;
  }
}

.current-actions {
  width: auto;
  overflow: hidden;
  padding-top: 2em;
}
