/* tous les boutons */

button,
a.button,
input:is([type='button'], [type='reset'], [type='submit']) {
  border: 1px solid var(--button-border);
  font-family: var(--sans-serif-input);
  padding: 3px 10px;
  line-height: normal !important;
  display: inline-block;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-width: 1px;
}

a.button {
  vertical-align: middle;
}

/* validation */

input[type='submit'],
button[type='submit'],
a.button.submit,
button.submit,
input.button.start {
  color: var(--submit-color);
  background-color: var(--submit-background);

  &:is(:hover, :focus) {
    color: var(--submit-background);
    background-color: var(--submit-color);
  }
}

/* suppression, reset, "neutres" fond gris */

button,
input.button,
input:is([type='button'], [type='reset']),
input[type='submit']:is(.reset, .delete),
input:is(.reset, .delete),
a.button,
a.button:is(.delete, .reset) {
  color: var(--reset-color);
  background-color: var(--reset-background);

  &:is(:hover, :focus) {
    background-color: var(--reset-background-alt);
  }
}

/* suppression */

:is(input, button)[type='submit'].delete,
:is(input, button).delete,
a.button.delete {
  color: var(--delete-color);

  &:is(:hover, :focus) {
    color: var(--delete-hover-color);
    background-color: var(--delete-hover-background);
  }
}

#info-box a.button,
#info-box button {
  padding: 0 0.5em;
  margin-left: 2em;
}

.button.add,
button.add,
input.add {
  color: var(--add-color);
  background-color: var(--add-background);

  &:is(.button, button) {
    padding: 0.4em 1.25em 0.4em;
  }

  &:is(:hover, :active, :focus) {
    color: var(--add-color-alt);
    background-color: var(--add-background-alt);
  }
}

.button-add:focus {
  outline: dotted 1px;
}

:is(input, button)[type='submit'].clone,
:is(input, button).clone,
a.button.clone {
  color: var(--clone-color);
  background-color: var(--clone-background);

  &:is(:hover, :active, :focus) {
    color: var(--clone-hover-color);
    background-color: var(--clone-hover-background);
  }
}

/* paragraphe pour bouton Nouveau bidule */

p.top-add {
  text-align: right;
  margin: 0;
}

/* disabled */

input,
html input,
button {
  &.disabled,
  &[disabled],
  &[aria-disabled='true'] {
    color: var(--button-disabled-color);
    background: var(--button-disabled-background);
    border: 1px solid var(--button-disabled-border);
    cursor: not-allowed;
  }
}

/* Boutons javascript (dépliage/repliage, …) */

.void-btn {
  border: none;
  border-radius: 0;
  padding: 0;
}

button.details-cmd {
  font-size: 0.9em;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0 5px 0 0;
  color: currentColor;
  background: transparent;
  box-shadow: none;

  &:is(:hover, :focus) {
    background: transparent;
    color: var(--input-focus);
  }
}

details summary:is(:hover) {
  cursor: pointer;
  &::marker {
    cursor: pointer;
  }
}

details summary:is(:hover, :focus)::marker {
  background: transparent;
  color: var(--input-focus);
}

/* specific buttons */

// Ajax or js buttons (action do not reload current page)
#gototop,
a#gototop,
:is(.checkbox-helper, .metaGetList, .metaGetMore),
a:is(.checkbox-helper, .metaGetList, .metaGetMore) {
  font-size: 0.825em;
  color: var(--ajax-color);
  background: var(--ajax-background);
  box-shadow: none;
  border: 1px solid var(--ajax-border);
  margin-bottom: 0.25em;
  text-align: center;

  &:hover {
    background: var(--ajax-background-alt);
    box-shadow: none;
  }
}

#gototop {
  display: none;
  z-index: calc(infinity);
  position: fixed;
  bottom: 0.5em;
  right: 0.75em;
  width: 2em;
  padding: 0.25em;
  border-radius: 0.25em;

  a {
    &,
    &:is(:link, :hover, :active) {
      color: var(--gotop-color);
      background: var(--gotop-background);
      border-bottom: none;
    }
    & img {
      vertical-align: top;
    }
  }
}

.metaRemove,
.addMeta :is(button, a):not(.metaGetMore) {
  border: none;
  border-radius: 0;
  padding: 0;
  color: var(--addmeta-color);
  background: var(--addmeta-background);
}

.metaRemove img {
  height: 1.25em;
  padding-top: 0.25em;
  padding-right: 0.25em;
}

.addMeta :is(button, a):not(.metaGetMore) {
  box-shadow: initial;
  margin-bottom: 2px;

  &:is(:hover, :focus) {
    color: var(--addmeta-focus-color);
    background: var(--addmeta-focus-background);
  }
}
