/* jQuery Autocomplete plugin */

.ac_results {
  padding: 0;
  background-color: var(--ac-results-background);
  border: 1px dotted var(--ac-results-border);
  overflow: hidden;
  z-index: calc(infinity);

  ul {
    width: 100%;
    list-style: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font-size: 1em;
    line-height: 16px;
    overflow: hidden;
  }
}

.ac_loading {
  background: url('loader.gif') right center no-repeat;
  background-color: transparent;
}

.ac_odd {
  background-color: var(--ac-results-background);
}

.ac_over {
  color: var(--ac-results-over);
  background-color: var(--ac-results-over-background);
}

/* password show/hide */

.pw-show,
.pw-hide {
  width: 2.25em;
  height: 1.75em;
  margin-left: 0.25em;

  &,
  &:is(:hover, :focus, :active) {
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &:is(:hover, :focus, :active) {
    background-color: #fff;
  }
}
input.maximal.pwd_helper {
  max-width: calc(100% - 3em);
}

body.auth {
  .pw-show,
  .pw-hide {
    height: 2em;
  }
}

.pw-show {
  &,
  &:is(:hover, :focus, :active) {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1850 1850" width="100%" height="100%"><path d="M1694.373 683.898q-152-236-381-353 61 104 61 225 0 185-131.5 316.5-131.5 131.5-316.5 131.5-185 0-316.5-131.5-131.5-131.5-131.5-316.5 0-121 61-225-229 117-381 353 133 205 333.5 326.5 200.5 121.5 434.5 121.5 234 0 434.5-121.5 200.5-121.5 333.5-326.5zm-720-384q0-20-14-34-14-14-34-14-125 0-214.5 89.5-89.5 89.5-89.5 214.5 0 20 14 34 14 14 34 14 20 0 34-14 14-14 14-34 0-86 61-147 61-61 147-61 20 0 34-14 14-14 14-34zm848 384q0 34-20 69-140 230-376.5 368.5-236.5 138.5-499.5 138.5-263 0-499.5-139-236.5-139-376.5-368-20-35-20-69 0-34 20-69 140-229 376.5-368 236.5-139 499.5-139 263 0 499.5 139 236.5 139 376.5 368 20 35 20 69z"/></svg>');
  }
}

.pw-hide {
  &,
  &:is(:hover, :focus, :active) {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1850 1850" width="100%" height="100%"><path d="M585.373 1013.34l78-141q-87-63-136-159-49-96-49-203 0-121 61-225-229 117-381 353 167 258 427 375zm389-759q0-20-14-34-14-14-34-14-125 0-214.5 89.5-89.5 89.5-89.5 214.5 0 20 14 34 14 14 34 14 20 0 34-14 14-14 14-34 0-86 61-147 61-61 147-61 20 0 34-14 14-14 14-34zm363-191q0 7-1 9-105 188-315 566-210 378-316 567l-49 89q-10 16-28 16-12 0-134-70-16-10-16-28 0-12 44-87-143-65-263.5-173-120.5-108-208.5-245-20-31-20-69 0-38 20-69 153-235 380-371 227-136 496-136 89 0 180 17l54-97q10-16 28-16 5 0 18 6 13 6 31 15.5 18 9.5 33 18.5 15 9 31.5 18.5 16.5 9.5 19.5 11.5 16 10 16 27zm37 447q0 139-79 253.5-79 114.5-209 164.5l280-502q8 45 8 84zm448 128q0 35-20 69-39 64-109 145-150 172-347.5 267-197.5 95-419.5 95l74-132q212-18 392.5-137 180.5-119 301.5-307-115-179-282-294l63-112q95 64 182.5 153 87.5 89 144.5 184 20 34 20 69z"/></svg>');
  }
}

// datetime today helper
.dt-today {
  width: 2em;
  height: 2em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  & {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="%23ffffff"/><path d="M19 3h-1V2c0-.55-.45-1-1-1s-1 .45-1 1v1H8V2c0-.55-.45-1-1-1s-1 .45-1 1v1H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V8h14v10c0 .55-.45 1-1 1zM8 10h3c.55 0 1 .45 1 1v3c0 .55-.45 1-1 1H8c-.55 0-1-.45-1-1v-3c0-.55.45-1 1-1z" fill="%233a539b"/></svg>');
  }

  &:is(:hover, :focus, :active) {
    background-image: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero"><path d="m0 0h24v24h-24z" fill="%23fff"/><path d="m19 3h-1v-1c0-.55-.45-1-1-1s-1 .45-1 1v1h-8v-1c0-.55-.45-1-1-1s-1 .45-1 1v1h-1c-1.11 0-1.99.9-1.99 2l-.01 14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm-1 16h-12c-.55 0-1-.45-1-1v-10h14v10c0 .55-.45 1-1 1z" fill="%233a539b"/><path d="m8 10h3c.55 0 1 .45 1 1v3c0 .55-.45 1-1 1h-3c-.55 0-1-.45-1-1v-3c0-.55.45-1 1-1z" fill="%23ab4e58"/></g></svg>');
  }
}

// Specific contexts
#login-screen {
  :is(#user_pwd, #new_pwd, #new_pwd_c).pwd_helper {
    width: calc(100% - 2.51em);
  }
}

/* password strength indicator */
.pw-strength-meter {
  display: block;
  margin-block-start: 0.25em;
}

/* ------------------------------------------------------------------ navigation */

/* selects accès rapide */

.anchor-nav-sticky {
  background: var(--nav-background);
  position: sticky;
  top: 0;
  padding: 0.5em 0 1em;
}

.anchor-nav {
  background: var(--nav-background);
  margin: 0;
  display: flex;
  gap: 0.5em;
  align-items: center;

  label {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
}

/* nav links */

.nav_prevnext {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75em;
  line-height: 1.25;
  margin-bottom: 2em;
}

.nav_prevnext a,
a.back {
  color: var(--nav-prevnext);
  border: 1px solid var(--button-border);
  padding: 0.25em 1.5em;
  border-radius: 0.5em;
  background-color: var(--nav-prevnext-background);

  &:is(:hover, :focus) {
    color: var(--reset-color);
    background-color: var(--reset-background-alt);
  }
}

a.back::before {
  content: '\ab\a0';
}

a.onblog_link {
  color: var(--onblog-link);
  float: right;
  border: 1px solid var(--button-border);
  padding: 0.125em 1.5em;
  border-radius: 0.5em;
  background-color: var(--onblog-link-background);

  &:is(:hover, :focus) {
    color: var(--reset-color);
    background-color: var(--reset-background-alt);
  }

  &.outgoing {
    position: relative;
    padding-right: 2em;
    margin-inline-start: 1em;
    img {
      position: absolute;
      top: 0.25em;
      right: 0.5em;
    }
  }
}

img.go_home {
  width: 1em;
  height: auto;
}

.blog-title {
  color: var(--title-color);
}

/* Pagination */

.pager {
  margin: 2em 0 1em 0;
  clear: left;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li,
  input {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.33em 0 0;
    padding: 0;
    text-align: center;
  }

  .btn {
    border: 1px solid var(--button-border);
    background-color: var(--pager-background);
    color: var(--pager-link);
    border-radius: 3px;
    overflow: hidden;
    padding: 0.125em 0.25em;
    min-width: 2em;

    &:is(:hover, :focus) {
      color: var(--reset-color);
      background-color: var(--reset-background-alt);
    }

    img {
      width: 1em;
      height: auto;
      vertical-align: middle;
    }

    &.no-link {
      padding: 0.125em calc(0.25em + 3px);
      border-color: var(--pager-border);
      background-color: var(--pager-off-background);
    }
  }

  .active {
    padding: 0.125em 0.25em;
    min-width: 2em;
    color: var(--pager-active);
  }

  .direct-access {
    margin-left: 2em;

    input[type='number'] {
      padding: 0.25em;
    }

    input[type='submit'] {
      padding: 0.25em 0.5em;
    }
  }

  a {
    display: block;
    padding: 0 3px;
    border: none;
  }
}

.index {
  .btn.no-link,
  a {
    font-variant: small-caps;
  }

  li {
    margin-bottom: 3px;
  }

  a {
    font-weight: bold;
  }

  .btn.no-link {
    color: var(--index-no-link);
  }

  .active {
    color: var(--index-active);
    background: var(--index-active-background);
    border-radius: 3px;
    font-variant: small-caps;
  }
}

/* Etapes */

.step {
  float: left;
  margin: 3px 10px 2px 0;
  padding: 5px 0.5em;
  color: var(--step);
  background: var(--step-background);
  border: 1px solid var(--step-border);
  border-radius: 3px;
  font-weight: bold;
}

/* ------------------------------------------------------------------------- indicateurs */
.info,
li,
td,
p {
  img.mark {
    vertical-align: middle;
  }
}
.entry-status {
  img.mark {
    vertical-align: text-bottom;
  }
}
:is([class^='mark-'], [class*=' mark-']) {
  width: 1.4em;
}
.mark-attach {
  filter: var(--mark-attach-filter);
}
.mark-selected {
  filter: var(--mark-selected-filter);
}
.mark-pending {
  filter: var(--mark-pending-filter);
}
.mark-locked {
  filter: var(--mark-locked-filter);
}

/* ---------------------------------------------------------------- utilisables partout  */

.legible {
  max-width: 62em;
}

.fieldset {
  margin: 1em 0;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--fieldset-border);
  background: var(--fieldset-background);

  hr {
    background-color: var(--fieldset-border);
    border-width: 0;
    margin: 0 0 1em 0;
  }

  &:focus-within {
    background-color: var(--fieldset-focus-background);
    @media (prefers-contrast: more) {
      outline: 1px solid var(--fieldset-border);
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  :is(h3, h4) {
    width: 100%;
    padding: 0;
    margin-bottom: 0.75em;
    color: var(--fieldset-pretty-title-color);
    font-size: 1em;
    font-weight: bold;
  }
}

:is(.right, .txt-right) {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.no-margin,
label.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.vertical-separator {
  margin-top: 2em;
  width: 100%;
}

p.clear.vertical-separator {
  padding-top: 2em;
}

.border-top {
  border-top: 1px solid var(--link-border);
  padding-top: 1em;
  margin-top: 1em;
}

// Used by blowup config to display background behind the selected top image which may have transparent areas
.grid {
  background: url('grid.png') repeat 0 0;
  background-color: transparent;
}

ul.nice {
  margin: 1em 0;
  padding: 0 0 0 2em;
  list-style: square;

  li {
    margin: 0;
    padding: 0;
  }
}

ul.from-left {
  list-style-type: none;
  padding-left: 0;
  margin: 1em 0;

  > li {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul {
    list-style-type: square;
  }
}

.offline {
  color: var(--offline);
  background: var(--offline-background);
}

/* caché pour tout le monde */

.hide,
.button.hide {
  display: none !important;
}

/* Caché sauf pour les revues d'écran */

.hidden,
.with-js .out-of-screen-if-js {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
@media not (scripting: none) {
  // = with JS
  .out-of-screen-if-js {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

/* caché si js est inactif */

.no-js .hidden-if-no-js {
  display: none;
}
@media (scripting: none) {
  // = without JS
  .hidden-if-no-js {
    display: none;
  }
}

/* caché si js est actif */

.with-js .hidden-if-js {
  display: none;
}
@media not (scripting: none) {
  // = with JS
  .hidden-if-js {
    display: none;
  }
}

/* Tailles des icônes SVG */

:is(.icon-small, .icon-mini) {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}
