/* jQuery Autocomplete plugin */

.ac_results {
  padding: 0;
  background-color: var(--ac-results-background);
  border: 1px dotted var(--ac-results-border);
  overflow: hidden;
  z-index: calc(infinity);

  ul {
    width: 100%;
    list-style: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font-size: 1em;
    line-height: 16px;
    overflow: hidden;
  }
}

.ac_loading {
  background: url('loader.svg') right center no-repeat;
  background-color: transparent;
}
body.dark-mode .ac_loading {
  background-image: url(loader-dark.svg);
}

.ac_odd {
  background-color: var(--ac-results-background);
}

.ac_over {
  color: var(--ac-results-over);
  background-color: var(--ac-results-over-background);
}

/* password show/hide */

.pw-show,
.pw-hide {
  width: 2.25em;
  height: 1.75em;
  margin-left: 0.25em;

  &,
  &:is(:hover, :focus, :active) {
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &:is(:hover, :focus, :active) {
    background-color: #fff;
  }
}
input.maximal.pwd_helper {
  max-width: calc(100% - 3em);
}

body.auth {
  .pw-show,
  .pw-hide {
    height: 2em;
  }
}

.pw-show {
  &,
  &:is(:hover, :focus, :active) {
    background-image: url('../images/pw-show.svg');
  }
}

.pw-hide {
  &,
  &:is(:hover, :focus, :active) {
    background-image: url('../images/pw-hide.svg');
  }
}

body.dark-mode {
  .pw-show {
    & {
      background-image: url('../images/pw-show-dark.svg');
    }
    &:is(:hover, :focus, :active) {
      background-image: url('../images/pw-show.svg');
    }
  }

  .pw-hide {
    & {
      background-image: url('../images/pw-hide-dark.svg');
    }
    &:is(:hover, :focus, :active) {
      background-image: url('../images/pw-hide.svg');
    }
  }
}

// datetime today helper
.dt-today {
  width: 2em;
  height: 2em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  & {
    background-image: url('../images/dt-today.svg');
  }

  &:is(:hover, :focus, :active) {
    background-image: url('../images/dt-today-hover.svg');
  }
}

body.dark-mode {
  .dt-today {
    & {
      background-image: url('../images/dt-today-dark.svg');
    }

    &:is(:hover, :focus, :active) {
      background-image: url('../images/dt-today-hover-dark.svg');
    }
  }
}

// Specific contexts
#login-screen {
  :is(#user_pwd, #new_pwd, #new_pwd_c).pwd_helper {
    width: calc(100% - 2.51em);
  }
}

/* password strength indicator */
.pw-strength-meter {
  display: block;
  margin-block-start: 0.25em;
}

/* ------------------------------------------------------------------ navigation */

/* selects accès rapide */

.anchor-nav-sticky {
  background: var(--nav-background);
  position: sticky;
  top: 0;
  padding: 0.5em 0 1em;
}

.anchor-nav {
  background: var(--nav-background);
  margin: 0;
  display: flex;
  gap: 0.5em;
  align-items: center;

  label {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
}

/* nav links */

.nav_prevnext {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75em;
  line-height: 1.25;
  margin-bottom: 2em;
}

.nav_prevnext a,
a.back {
  color: var(--nav-prevnext);
  border: 1px solid var(--button-border);
  padding: 0.25em 1.5em;
  border-radius: 0.5em;
  background-color: var(--nav-prevnext-background);

  &:is(:hover, :focus) {
    color: var(--reset-color);
    background-color: var(--reset-background-alt);
  }
}

a.back::before {
  content: '< ';
  content: '← ' / '< ';
}

a.onblog_link {
  color: var(--onblog-link);
  float: right;
  border: 1px solid var(--button-border);
  padding: 0.125em 1.5em;
  border-radius: 0.5em;
  background-color: var(--onblog-link-background);

  &:is(:hover, :focus) {
    color: var(--reset-color);
    background-color: var(--reset-background-alt);
  }

  &.outgoing {
    position: relative;
    padding-right: 2em;
    margin-inline-start: 1em;
    img {
      position: absolute;
      top: 0.25em;
      right: 0.5em;
    }
  }
}

img.go_home {
  width: 1em;
  height: auto;
}

.blog-title {
  color: var(--title-color);
}

/* Pagination */

.pager {
  margin: 2em 0 1em 0;
  clear: left;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li,
  input {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.33em 0 0;
    padding: 0;
    text-align: center;
  }

  .btn {
    border: 1px solid var(--button-border);
    background-color: var(--pager-background);
    color: var(--pager-link);
    border-radius: 3px;
    overflow: hidden;
    padding: 0.125em 0.25em;
    min-width: 2em;

    &:is(:hover, :focus) {
      color: var(--reset-color);
      background-color: var(--reset-background-alt);
    }

    img {
      width: 1em;
      height: auto;
      vertical-align: middle;
    }

    &.no-link {
      padding: 0.125em calc(0.25em + 3px);
      border-color: var(--pager-border);
      background-color: var(--pager-off-background);
    }
  }

  .active {
    padding: 0.125em 0.25em;
    min-width: 2em;
    color: var(--pager-active);
  }

  .direct-access {
    margin-left: 2em;

    input[type='number'] {
      padding: 0.25em;
    }

    input[type='submit'] {
      padding: 0.25em 0.5em;
    }
  }

  a {
    display: block;
    padding: 0 3px;
    border: none;
  }
}

.index {
  .btn.no-link,
  a {
    font-variant: small-caps;
  }

  li {
    margin-bottom: 3px;
  }

  a {
    font-weight: bold;
  }

  .btn.no-link {
    color: var(--index-no-link);
  }

  .active {
    color: var(--index-active);
    background: var(--index-active-background);
    border-radius: 3px;
    font-variant: small-caps;
  }
}

/* Etapes */

.step {
  float: left;
  margin: 3px 10px 2px 0;
  padding: 5px 0.5em;
  color: var(--step);
  background: var(--step-background);
  border: 1px solid var(--step-border);
  border-radius: 3px;
  font-weight: bold;
}

/* ------------------------------------------------------------------------- indicateurs */
.info,
li,
td,
p {
  img.mark {
    vertical-align: middle;
  }
}
.entry-status {
  img.mark {
    vertical-align: text-bottom;
  }
}
:is([class^='mark-'], [class*=' mark-']) {
  width: 1.4em;
}
.mark-attach {
  filter: var(--mark-attach-filter);
}
.mark-selected {
  filter: var(--mark-selected-filter);
}
.mark-pending {
  filter: var(--mark-pending-filter);
}
.mark-locked {
  filter: var(--mark-locked-filter);
}

/* ---------------------------------------------------------------- utilisables partout  */

.legible {
  max-width: 62em;
}

.fieldset {
  margin: 1em 0;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--fieldset-border);
  background: var(--fieldset-background);

  hr {
    background-color: var(--fieldset-border);
    border-width: 0;
    margin: 0 0 1em 0;
  }

  &:focus-within {
    background-color: var(--fieldset-focus-background);
    @media (prefers-contrast: more) {
      outline: 1px solid var(--fieldset-border);
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  :is(h3, h4) {
    width: 100%;
    padding: 0;
    margin-bottom: 0.75em;
    color: var(--fieldset-pretty-title-color);
    font-size: 1em;
    font-weight: bold;
  }
}

:is(.right, .txt-right) {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.no-margin,
label.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.vertical-separator {
  margin-top: 2em;
  width: 100%;
}

p.clear.vertical-separator {
  padding-top: 2em;
}

.border-top {
  border-top: 1px solid var(--link-border);
  padding-top: 1em;
  margin-top: 1em;
}

// Used by blowup config to display background behind the selected top image which may have transparent areas
.grid {
  background: url('grid.png') repeat 0 0;
  background-color: transparent;
}

ul.nice {
  margin: 1em 0;
  padding: 0 0 0 2em;
  list-style: square;

  li {
    margin: 0;
    padding: 0;
  }
}

ul.from-left {
  list-style-type: none;
  padding-left: 0;
  margin: 1em 0;

  > li {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul {
    list-style-type: square;
  }
}

.offline {
  color: var(--offline);
  background: var(--offline-background);
}

/* caché pour tout le monde */

.hide,
.button.hide {
  display: none !important;
}

/* Caché sauf pour les revues d'écran */

.hidden,
.with-js .out-of-screen-if-js {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
@media not (scripting: none) {
  // = with JS
  .out-of-screen-if-js {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

/* caché si js est inactif */

.no-js .hidden-if-no-js {
  display: none;
}
@media (scripting: none) {
  // = without JS
  .hidden-if-no-js {
    display: none;
  }
}

/* caché si js est actif */

.with-js .hidden-if-js {
  display: none;
}
@media not (scripting: none) {
  // = with JS
  .hidden-if-js {
    display: none;
  }
}

/* Tailles des icônes SVG */

:is(.icon-small, .icon-mini) {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
}
:is(.icon-medium) {
  width: 4em;
  height: 4em;
}
