.part-tabs ul {
    padding: .5em 0 0 1em;
    border-bottom: 1px solid #ccc;
    line-height: 1.8;
}

.part-tabs li {
    list-style: none;
    margin: 0;
    display: inline;
}

.part-tabs li:first-child a {
    border-top-left-radius: 3px;
}

.part-tabs li:last-child a {
    border-top-right-radius: 3px;
}

.part-tabs li a {
    padding: .33em 1.5em;
    margin-right: -1px;
    border: 1px solid #ccc;
    border-bottom: none;
    text-decoration: none;
    color: #333;
    background-color: #ecf0f1;
    display: inline-block;
}

.part-tabs li a:hover,
.part-tabs li a:focus {
    color: #000;
    background: #fff;
    border-bottom-color: #fff;
}

.part-tabs li.part-tabs-active a {
    background: #fff;
    font-weight: bold;
    border-bottom-color: #fff;
}

.multi-part {
    padding-left: 1em;
}

.pseudo-tabs {
    margin: -.75em 0 2em 0;
    border-bottom: 1px solid #bbb;
    display: table;
    width: 100%;
    padding: 0;
    line-height: 24px;
    border-collapse: collapse;
}

.pseudo-tabs li {
    display: table-cell;
    border-width: 0 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 0;
    margin: 0;
    text-align: center;
}

.pseudo-tabs a {
    display: block;
    font-weight: bold;
    padding: 0 24px;
    border-bottom: none;
}

.pseudo-tabs a:hover,
.pseudo-tabs a:focus {
    background-color: #ecf0f1;
    color: #333;
}

.pseudo-tabs a.active {
    background-color: #ecf0f1;
    color: #d30e60;
}


/* contextual help */

#help {
    margin-top: 4em;
    background: #f5f5f5;
    z-index: 100;
    clear: both;
    padding: 0 1em;
}

#content.with-help #help {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 32rem; // 24em;
    border-left: 2px solid #FFD478;
    border-top: 2px solid #FFD478;
    margin-top: 0;
    padding: .5em 0 0 0;
    overflow: auto;
}

#help-button {
    background: transparent url(help-mini.png) no-repeat 6px center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em 0 30px;
    cursor: pointer;
    color: #2373A8;
    line-height: 3;
}

#help-button.floatable {
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    background-color: #f5f5f5;
    position: fixed;
    top: 10px;
    -webkit-transform: translateZ(0);
    /* Let GPU doing his job */
}

.no-js #help-button {
    top: 1em;
}

#help-button span {
    padding: .5em 0 .1em 0;
}

#content.with-help #help-button {
    right: 32rem; // 24em;
    background-color: #f5f5f5;
    position: fixed;
    top: 6em; // 50px;
    z-index: 100;
    border-top: 2px solid #FFD478;
    border-left: 2px solid #FFD478;
    border-bottom: 2px solid #FFD478;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}

.help-box {
    display: none;
}

.help-box ul {
    padding-left: 20px;
    margin-left: 0;
}

#content.with-help .help-content {
    padding: 0 1em 1em;
}

.help-content dt {
    font-weight: bold;
    color: #676e78;
    margin: 0;
}

.help-content dd {
    margin: 0.3em 0 1.5em 0;
}


/* lien d'aide générale dans le help content */

#helplink p {
    padding: 0 0 0 .5em;
}
