/* debug */
#debug-btn {
  color: var(--header-color);
  background: var(--header-background);
  border: none;
}

.debug-anchor {
  anchor-name: --debug-anchor;
}

#debug {
  position: absolute;
  position-anchor: --debug-anchor;
  position-area: bottom;
  width: fit-content;
  height: fit-content;
  margin: 1em 0.5em;
  padding: 1em 1em 0 1em;
  color: var(--debug-color);
  background: var(--debug-background);
  border: 2px solid;
  font-size: calc(1em / 1.2);
  font-size: round(nearest, calc(1em / 1.2), 1px);
}
