/* debug */

#debug {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.4em;
  color: var(--debug-color);
  background: var(--debug-background);
  font-size: smaller;

  div {
    display: none;
    padding: 0.25em;
  }

  p {
    margin: 0.5em;
  }

  &:hover {
    height: auto;
    padding: 0.25em;
    z-index: 100;

    div {
      display: block;
    }
  }
}

body:has(#debug) header {
  margin-top: calc(0.4em - 1px);
}

body:has(#debug) #prelude:not(.hidden) + header {
  margin-top: 0;
}

.debug {
  color: var(--debug-color);
  background: var(--debug-background);
  padding: 3px 0.5em 2px;
}

input[type='submit'].delete.debug,
a.delete.debug {
  border-color: var(--debug-border);

  &:hover {
    background: var(--debug-background);
    color: var(--debug-color);
    border-color: var(--debug-border);
  }
}
