#entry-wrapper {
	float: left;
	width: 100%;
	margin-right: -16em;
}

#entry-content {
	margin-right: 18em;
	margin-left: 0;
}

#entry-sidebar {
	width: 16em;
	float: right;
	h4 {
		font-size: 1.08em;
		margin-top: .3em;
	}
	select {
		width: 100%;
	}
	input#post_position {
		width: 4em;
	}
}

.sb-box {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 1em;
}

#tb_excerpt {
	width: 100%;
}
