a.form-control {
  display: none;
  color: var(--form-control-color);

  &::before {
    content: '▶';
    margin-right: 5px;
  }

  &.open {
    &::before {
      content: '▼';
    }
  }
}

span.ib {
  width: 7em;
}

span.ibw {
  width: 9em;
  display: inline-block;
}

#filter-control {
  margin-top: 0.5em;
  margin-bottom: 0;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dotted var(--link-border);
  &:hover,
  &:active {
    border-bottom-style: solid;
  }
  &:focus {
    outline: 2px solid var(--link-outline);
    border-bottom: none;
    text-decoration: none;
  }
  &.open {
    margin-bottom: 1em;
  }
}

#filters-form {
  border: 1px solid var(--filter-border);
  border-radius: 0.3em;
  margin-bottom: 2em;
  padding: 0.5em 1em 0;

  .table {
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  .cell {
    padding: 0 2em 0 0;
  }

  .filters-sibling-cell {
    padding-top: 4em;
  }

  .filters-options {
    padding-left: 2em;
    border-left: 1px solid var(--filter-options-border);
  }

  select {
    width: 14em;
    vertical-align: middle;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 2em;
  }

  label.ib {
    width: 7em;
  }

  label.ibw {
    width: 9em;
    display: inline-block;
  }

  &:focus-within {
    background-color: var(--filter-focus-background);
    @media (prefers-contrast: more) {
      outline: 1px solid var(--fieldset-border);
    }
  }
}
