@use '../init/config';

/* prelude */

#prelude {
  line-height: 1.5;
  margin: 0;
  padding: 0.5em;
  overflow: hidden;
  background: var(--prelude-background);
  width: 100%;

  li {
    list-style-type: none;
    margin: 0;
    background: transparent;
    display: inline;

    a {
      padding: 3px 16px 3px 8px;
      color: var(--prelude-color);
      background: var(--prelude-background);
      text-decoration: underline;
      border-bottom: none;

      &:hover,
      &:focus {
        background: var(--prelude-background-alt);
      }
    }
  }
}

/* header global h1, form#top-info-blog, ul#top-info-user */

#header {
  a {
    color: var(--header-color);
  }

  img {
    vertical-align: middle;
    padding-left: 0.5em;
    height: 1.125em;
    width: auto;
  }
}

/* h1 */

h1 {
  text-indent: 100%;
  width: 15em;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 36px; // was 3em;
    color: var(--header-color);
    background: url(dc_logos/dotclear.svg) no-repeat;
    background-size: auto 2.5em;
    background-position: center;
    transition: none;

    &:is(:hover, :focus) {
      background-image: url(dc_logos/dotclear-alt.svg);
      transition: none;
    }

    &:link {
      transition-timing-function: ease-in-out;
    }
  }
}

/* top-info-blog */

#top-info-blog {
  select {
    max-width: 20em;
  }

  a {
    margin-left: 1.5em;
  }

  input[type='submit'] {
    color: var(--submit-color);
    background: var(--submit-background);
    border-color: var(--submit-color);
    margin-left: 0.33em;
  }

  input[type='submit']:hover {
    color: var(--submit-background);
    background: var(--submit-color);
  }

  p {
    display: inline-block;
    margin: 0;
    vertical-align: text-top;
  }
}

/* top-info-user */

#top-info-user {
  padding-right: 0.5em;
  list-style-type: none;
  text-align: right;

  li {
    display: inline-block;
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 1px solid var(--header-link-border);

    &:first-child {
      border-left: none;
    }
  }

  a.active {
    border-width: 0;
    border-radius: 4px;
    margin: 0;
    padding: 2px 8px 3px;
    color: var(--header-active-color);
    background-color: var(--header-active-background);
    font-weight: bold;
  }
}

/* ------------------------------------------------------------------------------------
                              UN POIL DE MEDIA QUERIES
------------------------------------------------------------------------------------ */

@media screen and (width <= config.$mobile-screen) {
  h1,
  h1 a {
    padding: 0;
  }
}

@media screen and (width <= config.$mobile-screen) {
  h1 a {
    background: url(dc_logos/dotclear-mini.svg) no-repeat;
    background-size: 2.5em;
    background-position: center;

    &:is(:hover, :focus) {
      background-image: url(dc_logos/dotclear-mini-alt.svg);
    }
  }
}
