/* prelude */

#prelude {
	line-height: 1.5;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 3em;
	left: 0;
	background: $prelude-background;
	width: 100%;
	z-index: 100;
	li {
		list-style-type: none;
		margin: 0;
		background: transparent;
		display: inline;
		a {
			padding: 3px 16px 3px 8px;
      color: $prelude-color;
			background: $prelude-background;
			text-decoration: underline;
			&:hover,
			&:focus {
				background: $prelude-background-alt;
			}
		}
	}
}


/* si le prélude est affiché on repousse les trucs dessous */

#wrapper.with-prelude {
	padding-top: 1em;
}

#help-button.with-prelude,
#collapser.with-prelude {
	top: 1em;
}


/* header global h1, form#top-info-blog, ul#top-info-user */

#header {
	a {
		color: $header-color;
	}
	img {
		vertical-align: middle;
		padding-left: .5em;
	}
}


/* h1 */

h1 {
	text-indent: 100%;
	width: 16.5em;
	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		height: 36px; // was 3em;
		color: $header-color;
		background: transparent url(dc_logos/b-dotclear120.png) no-repeat 0 6px;
		transition: none;
		&:hover,
		&:focus {
			background-position: 0 -94px;
			background-color: transparent;
			transition: none;
		}
		&:link {
			transition-timing-function: ease-in-out;
		}
	}
}


/* top-info-blog */

#top-info-blog {
	select {
		max-width: 20em;
	}
	a {
		margin-left: 1.5em;
	}
	input[type=submit] {
		background: $submit-background;
		border-color: $submit-border;
		margin-left: .33em;
	}
	input[type=submit]:hover {
    color: $submit-color;
		background: $submit-background-alt;
	}
	p {
		display: inline-block;
		margin: 0;
	}
}


/* top-info-user */

#top-info-user {
	padding-right: .5em;
	list-style-type: none;
	text-align: right;
	li {
		display: inline-block;
		margin-left: .5em;
		padding-left: .5em;
		border-left: 1px solid $header-link-border;
		&:first-child {
			border-left: none;
		}
	}
	a.active {
		border-width: 0;
		border-radius: 4px;
		margin: 0;
		padding: 2px 8px 3px;
    color: $header-active-color;
		background-color: $header-active-background;
		font-weight: bold;
	}
}


/* ------------------------------------------------------------------------------------
															UN POIL DE MEDIA QUERIES
------------------------------------------------------------------------------------ */

@media screen and (max-width: $xxs-screen) {
	h1,
	h1 a {
		padding: 0;
	}
}

@media screen and (max-width: $xs-screen) {
	h1 a:link {
		background: transparent url(dc_logos/b-dotclear120.png) no-repeat -270px 6px;
	}
	h1 a:hover,
	h1 a:focus {
		background: url(dc_logos/b-dotclear120.png) no-repeat -270px -94px;
	}
}
