@use '../init/config';

#dashboard-main {
  text-align: center;

  & > *:last-child {
    margin-bottom: 1em;
  }
}

/* raccourcis */

#icons {
  margin: 1em auto 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  p {
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  a {
    &,
    &:is(:link, :visited, :hover, :focus) {
      border-bottom-width: 0;
      text-decoration: none;
    }

    span {
      color: var(--index-link-color);
      border-bottom: 1px dotted var(--index-link-border);
    }

    img {
      padding: 1.5em;
      background-color: var(--index-icon-background);
      border-radius: 8px;
      border: 1px solid var(--index-icon-border);
      display: inline-block;
      filter: contrast(var(--index-icon-contrast));
      width: calc(5em + 3em);
      max-width: calc(64px + 3em);
      height: calc(5em + 3em);
      max-height: calc(64px + 3em);
    }

    &:focus {
      outline: 0;

      span {
        border: 2px solid var(--index-icon-outline);
      }
    }

    &:is(:focus, :hover) {
      img {
        background: var(--index-icon-outline);
        filter: contrast(100%);
        outline: 0;
        border-color: var(--index-icon-border);
      }

      span {
        border-bottom-style: solid;
      }
    }
  }
}

/* billet rapide */

#quick {
  max-width: 72em;
  margin: 1em auto 2em;
  padding: 1em;
  background: var(--quick-background);
  border: 1px solid var(--quick-border);
  border-radius: 3px;
  text-align: left;

  h3 {
    margin-bottom: 0.2em;
    font-size: 1.2em;
  }

  #new_cat,
  .q-cat,
  .q-cat label {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    margin-top: 0;
  }

  .q-cat label {
    margin-right: 0.3em;
  }

  #new_cat {
    margin-bottom: 2em;
  }
}

/* modules additionnels */

#dashboard-boxes {
  margin: 1em auto 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  .box {
    padding: 10px;
    border: 1px solid var(--index-box-border);
    border-radius: 3px;
    min-height: 200px;
    text-align: left;
    margin: 0; // No necessary as we have gap on flex parent
  }
}

:is(.db-items, .db-contents) {
  //  display: inline-block;
  //  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 auto;
  gap: 1em;

  ul {
    display: block;
    padding-left: 1.5em;
    list-style: square;
  }

  li {
    margin: 0.25em 0 0 0;
  }
}

.no-js .outgoing img {
  display: none;
}

.dc-box {
  background: url(dc_logos/dotclear-leaf.svg) no-repeat top right;
  background-size: 2em;
  background-origin: content-box;
  background-color: transparent;
}

#news {
  dt {
    font-weight: bold;
    margin: 0 0 0.4em 0;
  }

  dd {
    margin: 0 0 1em 0;

    p {
      margin: 0.2em 0 0 0;
    }
  }
}

// Drag'n'drop of dashboard areas

#dragndrop {
  position: absolute;

  .no-js & {
    display: none;
  }

  & + label {
    position: absolute;
    right: 1em;
    display: inline-block;
    line-height: 1;
  }

  & + label .dragndrop-svg {
    width: 2em;
    height: 1.5em;
    fill: var(--drag-n-drop-off);
  }

  &:checked + label .dragndrop-svg {
    fill: var(--drag-n-drop-on);
    background-color: var(--body-background);
  }
}

// Upgrade mode

.upgrade-mode {
  :root & {
    --header-background: var(--upgrade-mode);
    --header-background-alt: var(--upgrade-mode);
    --collapser-focus: var(--upgrade-mode);
  }

  #dashboard-main {
    text-align: inherit;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
  }

  #dashboard-boxes,
  #icons {
    margin: 0;
  }

  .db-items {
    display: block;
  }

  @media screen and (width <= config.$tablet-screen) {
    #dashboard-main {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (width <= config.$mobile-screen) {
    #dashboard-main {
      grid-template-columns: 1fr;
    }
  }

  #icons {
    justify-content: flex-start;

    p {
      width: calc(50% - 0.5em);
      flex-direction: row;
      align-items: flex-start;
      gap: 1em;
    }

    a {
      display: grid;
      grid-template-areas:
        'icon title'
        'icon descr';
      grid-template-rows: auto 1fr;
      gap: 1em;

      img {
        grid-area: icon;
      }
      span {
        &.db-icon-title {
          grid-area: title;
        }

        &.db-icon-descr {
          grid-area: descr;
          border-bottom: none;
        }
      }
    }

    span.db-icon-title {
      flex: none;
    }
  }

  @media screen and (width <= config.$tablet-screen) {
    #icons {
      margin-top: 1em;

      p {
        width: auto;
      }
    }
    .db-items {
      display: flex;
    }
  }

  @media screen and (width <= config.$mobile-screen) {
    #icons {
      flex-wrap: nowrap;
      flex-direction: column;
      margin: 1em;

      p {
        width: auto;
      }
    }

    .db-items {
      display: flex;
    }
  }

  .badge-icon {
    &.badge-left {
      right: inherit;
      left: -0.5em;
    }
  }
}
