/* Install */

a,
a:is(:link, :visited) {
  color: #2373a8;
  text-decoration: none;
  border-bottom: 1px dotted #f90;
}

a:is(:hover, :active, :focus) {
  text-decoration: underline;
}

:is(div, p):is(.error, .message, .static-msg) {
  padding: 0.5em 0.5em 0.5em 60px;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 8px;
}

p:is(.error, .message, .static-msg) {
  padding-top: 1em;
  padding-bottom: 1em;
}

:is(div, p).error {
  background: #e5bfbf url(msg-error.svg) no-repeat 10px 10px;
  background-size: 2.5em;
  color: #600;
}

:is(div, p):is(.message, .static-msg) {
  background: #666 url(msg-info.svg) no-repeat 10px 10px;
  background-size: 2.5em;
  color: #fff;
}

:is(div, p):is(.message, .static-msg) a {
  color: #fff;
}

label {
  display: block;
}

label :is(input, select, span) {
  display: block;
}

// Required fields
:is(label, span).required {
  font-weight: bold;
}

label.required :is(abbr, span),
span.required {
  color: #900;
  font-size: 1.3em;
  text-decoration: none;
}

label.required span {
  display: inline-block;
}
//

form {
  display: block;
  margin: 0;
  padding: 0;
}

fieldset {
  display: block;
  margin: 0 0 1em 0;
  padding: 1em 0.5em;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ccc;
  background: #f5f5f5;
}

legend {
  font-weight: bold;
  padding: 0.2em 0.6em;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  background: #f5f5f5;
  margin-bottom: 0.5em;
}

a#obfus {
  color: #fff;
  background-color: #666;
  padding: 0 10px;
  border-radius: 2px;
}

input[type='submit'] {
  font-size: 1.05em;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.1em 0.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.2em;
  margin-bottom: 0.1em;
  margin-top: 1em;
  color: #fff;
  border: 1px solid #3a539b;
  background: #3a539b;
  width: 100%;
}

input[type='submit']:is(:hover, :focus) {
  color: #3a539b;
  background: #fff;
}

body.install {
  font-family: system-ui, sans-serif;
  color: #333;
  background: #fff;
  margin: 0;
  padding: 0;
}

body.install #content {
  width: 32em;
  margin: 1em auto;
}

body.install #main {
  padding: 1em 2em;
  border: 1px #ccc solid;
  border-radius: 8px;
}

body.install h1,
h2 {
  font-family: system-ui, sans-serif;
}

body.install h1 {
  background: url(dc_logos/dotclear-light.svg) no-repeat top center;
  background-size: auto 2.5em;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  color: #666;
  padding-top: 70px;
  margin: 0 0 0.75em 0;
}

body.install h2 {
  color: #f90;
}

body.install h3 {
  margin-top: 0;
}

body.install label {
  color: #555;
}

body.install .msg {
  padding: 10px 10px 10px 60px;
  border-radius: 8px;
}

body.install .warning {
  background: #ffc url(msg-warning.svg) no-repeat 10px 10px;
  background-size: 2.5em;
}

body.install .notice {
  background: #eef url(msg-info.svg) no-repeat 10px 10px;
  background-size: 2.5em;
}

/* password strength indicator */
.pw-strength-meter {
  display: block;
  margin-block-start: 0.25em;
}
