// Admin layout
#dotclear-admin {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
  justify-content: space-between;
  color: var(--header-color);
  background: var(--header-background);
  border-bottom: 4px solid var(--header-border);
  width: 100%;
  min-height: 3em;
  position: relative;
}

body.safe-mode #header {
  border-bottom-color: var(--header-border-safe);
}

h1,
:is(#top-info-blog, #top-info-user) {
  padding: 0.5em 0;
  margin: 0;
  font-size: 1em;
}
h1,
#top-info-user {
  display: table-cell;
}
#top-info-user {
  margin-inline-start: auto;
}
#top-info-blog {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25em;
}

#wrapper {
  background: var(--wrapper-background);
  position: relative;
  float: left;
  width: 100%;
  z-index: 10;
  flex: 1;
}

#main {
  width: 100%;
  float: right;
  margin-left: -14em;
  margin-top: 0;
}

#content {
  background: var(--content-background);
  margin: 0 0 0 14em;
  padding: 0.75em 1em 0.75em 1.5em;
}

#main-menu {
  background: var(--main-menu-background);
  width: 14em;
  float: left;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
  overflow: hidden;
}

#footer {
  background-color: var(--footer-background);
  border-top: 1px solid var(--footer-border);
  clear: both;
  position: relative;
  padding: 0.5em 0 0.5em 0.5em;
  text-align: left;
}

/* to hide main-menu */

#collapser {
  background: var(--collapser-background);
  position: absolute;
  top: 0;
  left: 14em;
  width: var(--collapser-width);
  height: 100%;
  overflow: hidden;
  display: block;
  border-right: 0;
  border-bottom: 0;
  z-index: 1;
  transition: none;

  &:is(:hover, :focus) {
    background: var(--collapser-focus);
    width: var(--collapser-width-focus);
  }
}

.expand-mm {
  display: none;
}

/* if main-menu is hidden */

.hide-mm {
  #main {
    margin-left: 0;
  }

  #content {
    margin-left: var(--collapser-width);

    > h2 {
      margin-left: calc(-1em - var(--collapser-width));
    }
  }

  #main-menu {
    display: none;
  }

  #collapser {
    left: 0;
  }

  .collapse-mm {
    display: none;
  }

  .expand-mm {
    display: block;
  }
}

body.light-mode,
body.dark-mode.upgrade-mode {
  :is(.collapse-mm, .expand-mm) {
    filter: invert(1); // black → white on dark background
  }
}

#wrapper.hide-mm {
  background: var(--content-background);
}

/* -------------------------------------------------------------- layout: two-cols */

.two-cols {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 1em;
  column-gap: 2em;
  clear: both;

  &.clearfix {
    // May be useful for older 3rd party code
    display: grid;
  }

  .col {
    grid-column: span 3;
  }

  .col70 {
    grid-column: span 4;
  }

  .col30 {
    grid-column: span 2;
  }

  .col100 {
    grid-column: span 6;
  }
}

@media screen and (width <= $tablet-screen) {
  .two-cols,
  .two-cols.clearfix {
    display: block;
  }
}

/* -------------------------------------------------------------- layout: three-cols */

.three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1em;
  column-gap: 2em;
  clear: both;

  .col {
    grid-column: span 1;
  }

  .col100 {
    grid-column: span 3;
  }

  &.clearfix {
    // May be useful for older 3rd party code
    display: grid;
  }
}

@media screen and (width <= $tablet-screen) {
  .three-cols,
  .three-cols.clearfix {
    display: block;
  }
}

/* ------------------------------------------------- layout: optionnal one/two/three-boxes */

.one-box,
*:has(> .two-boxes),
*:has(> .three-boxes) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2em;
  row-gap: 1em;
  &.txt-left {
    justify-content: left;
  }
  &.txt-center {
    justify-content: center;
  }
  &.txt-right {
    justify-content: right;
  }
  & > * {
    margin: 0;
  }
  & > :is(legend, h3, h4, h5, hr) {
    width: 100%;
  }
  & .wide {
    width: 100%;
  }
}

.one-box {
  text-align: justify;
}

.two-boxes {
  width: calc((100% - 2em) / 2);
}

.three-boxes {
  width: calc((100% - 4em) / 3);
}

:is(.two-boxes, .three-boxes) {
  vertical-align: top;
  text-align: left;
}

/* ---------------------------------------------------------------- layout: popups */

.popup {
  h1 {
    color: var(--popup-title-color);
    background: var(--popup-title-background);
    display: block;
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    text-indent: 1em;
    line-height: 1.5em;
    font-weight: normal;
  }

  #wrapper {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: 0 0;
  }

  #main {
    margin: 0;
    padding: 0;
  }

  #content {
    margin: 0;
    padding: 1em;

    h2 {
      margin: 0 0 1em 0;
      padding: 0;
    }
  }

  #footer p {
    border: none;
  }
}

/* -------------------------------------------------------- layout: classes de complément */

.constrained {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.table {
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: top;
}

.clear {
  clear: both;
}

.lclear {
  clear: left;
}

.clearer {
  height: 1px;
  font-size: 1px;
}

/* Micro clearfix thx to Nicolas Gallagher, replaced by display: flow-root (see https://css-tricks.com/display-flow-root/) */

.clearfix {
  display: flow-root;
}

.box {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  flex: 1 1 auto;

  &.small {
    flex-basis: 312px;
  }

  &.medium {
    flex-basis: 644px;
  }

  &.large {
    width: 100%;
  }
}

.odd {
  margin-left: 0;
}

.even {
  margin-right: 0;
}

/* ------------------------------------------------------------------------------------
                              UN POIL DE MEDIA QUERIES
------------------------------------------------------------------------------------ */

@media screen and (width <= $laptop-screen) {
  #header {
    h1,
    h1 a {
      width: 10em;
      margin: 0;
    }
  }

  h1 {
    width: 19.5em;
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
  }

  #top-info-blog {
    margin-right: 0.5em;

    #switchblog {
      max-width: 16em;
    }

    a {
      margin-left: 2em;
    }
  }

  #top-info-user {
    display: block;
    width: 100%;
  }

  #collapser {
    left: 17em;
  }

  #main {
    margin-left: -17em;
  }

  #content {
    margin: 0 0 0 17em;
  }

  #main-menu {
    width: 17em;
  }

  .three-boxes,
  .three-boxes .box {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (width <= $tablet-screen) {
  #dashboard-boxes :is(.box.medium, .box.small, .box.large),
  :is(.box.medium, .box.small, .box.large) {
    width: 95%;
    margin: 10px auto;
  }
}

@media screen and (width <= $tablet-screen) {
  #help-button {
    height: 26px;
    width: 26px;
    margin: 0;
    overflow: hidden;
  }

  #content.with-help #help-button {
    top: 10em; // 77px;
  }

  :is(.one-box, .box),
  body:not(.popup) .two-boxes {
    width: 96%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (width <= $mobile-screen) {
  #header h1,
  #header h1 a {
    width: 42px !important;
    height: 42px;
  }

  :is(#wrapper, #main, #main-menu) {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
  }

  #main-menu {
    a {
      display: block;
      width: 100%;
    }

    h3 a {
      display: inline;
    }
  }

  #content,
  .hide-mm #content {
    margin: 0;
  }

  #collapser {
    display: none;
  }

  #main #content > h2 {
    margin: 0 -0.25em 1em;
  }

  #dashboard-boxes :is(.box.medium, .box.small, .box.large),
  :is(.box.medium, .box.small, .box.large) {
    width: 95%;
    margin: 10px auto;
  }

  .cell,
  #filters-form .cell {
    display: inline-block;
    vertical-align: bottom;
  }

  .pseudo-tabs li {
    display: block;
    float: left;
    width: 50%;
  }
}

@media screen and (width <= $mobile-screen) {
  .nomobile {
    display: none;
  }

  #top-info-blog {
    max-width: 75%;
  }

  #header a.logout img {
    // The preceding logout label is not displayed on small screen, so padding is not more needed
    padding-left: 0;
  }

  #content.with-help {
    #help-button {
      top: 10em; // 120px;
      right: 28rem; // 20.5em;
    }

    #help {
      width: 28rem;
    }
  }

  p.top-add {
    margin-bottom: 0.5em;
  }

  .part-tabs ul {
    margin: 1em 0;
  }

  .part-tabs li a {
    display: block;
    width: 100%;
  }

  #icons p {
    width: 9em;
  }

  .media-item {
    width: 90%;
  }

  :is(#theme-new, #theme-activate, #theme-deactivate) {
    margin-left: 0;
    margin-right: 0;
  }

  body.popup .two-boxes {
    width: 96%;
    margin-left: 0;
    margin-right: 0;
  }

  .box.current-theme {
    margin: 5px;
    width: 100%;
  }

  .current-theme .module-sshot img {
    margin: 0;
    float: none;
    max-width: 100%;
  }

  table .maximal {
    min-width: 14em;
  }

  .pseudo-tabs li {
    display: block;
    width: 100%;
    float: none;
  }
}
