#main-menu {
  div:last-child {
    border-bottom: none;
  }

  h3 {
    margin: 0;
    padding: 10px 0 10px 8px;
    color: var(--main-menu-title-color);
    font-size: 1.15em;
  }

  a {
    color: var(--main-menu-item-color);
    border-bottom-color: var(--main-menu-item-border);
  }

  ul {
    margin: 0 0 1.5em 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      margin: 0.5em 0 0;
      padding: 4px 0 1px 2.125em;
      background-repeat: no-repeat;
      background-position: 8px .625em;
      background-size: 1em 1em;       // useful for SVG
      position: relative;

      a::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &:hover {
        background-color: var(--main-menu-active-background);
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .active {
    background-color: var(--main-menu-active-background);
    font-weight: bold;

    a {
      border-bottom: none;
      color: var(--main-menu-active-color);
    }
  }
}

#favorites-menu, #blog-menu, #system-menu, #plugins-menu {
  border-bottom: 1px dashed var(--main-menu-border);
}

#favorites-menu {
  h3 {
    font-variant: small-caps;
    padding-top: .2em;
  }
}

#search-menu {
  padding: 4px 0 0 4px;
  font-size: .91em;

  p {
    width: 95%;
    margin: 0 0 .5em 0;
  }

  input[type="submit"] {
    float: right;
  }
}

#qx {
  width: 75%;
  background: url(search.svg) no-repeat 0 center;
  background-color: transparent;
  text-indent: 20px;
}
