#main-menu {
  div:last-child {
    border-bottom: none;
  }

  h3 {
    margin: 0;
    padding: 10px 0 10px 8px;
    color: var(--main-menu-title-color);
    font-size: 1.15em;
  }

  a {
    color: var(--main-menu-item-color);
    border-bottom-color: var(--main-menu-item-border);
  }

  ul {
    margin: 0 0 1.5em 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0.5em 0 0;
      padding: 2px 0.5em 2px 0.5em;
      position: relative;

      img {
        width: 1em;
        height: 1em;
        min-width: 1em;
        margin-top: 0.25em;
        outline: 0;
      }

      a {
        display: flex;
        border-bottom: none;
        min-height: calc(1.5em + 2px);
        img {
          margin-left: 0.25em;
          margin-right: 0.5em;
          min-width: 1em;
        }
      }

      &:hover {
        background-color: var(--main-menu-active-background);
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .active {
    background-color: var(--main-menu-active-background);
    font-weight: bold;

    a {
      border-bottom: none;
      color: var(--main-menu-active-color);
      position: relative;
      &::after {
        content: ':';
        position: absolute;
        right: 0;
      }
    }
  }
}

:is(#favorites-menu, #blog-menu, #system-menu, #plugins-menu) {
  border-bottom: 1px dashed var(--main-menu-border);
}

#favorites-menu {
  h3 {
    font-variant: small-caps;
    padding-top: 0.2em;
  }
}

#search-menu {
  padding: 4px 0 0 4px;
  font-size: 0.91em;

  p {
    width: 95%;
    margin: 0 0 0.5em 0;
  }

  input[type='submit'] {
    float: right;
  }
}

#qx {
  width: 75%;
  background: url(search.svg) no-repeat 0 center;
  background-color: field;
  text-indent: 20px;
}
