span.media-file-mode {
  margin-right: 1em;
  display: flex;
  gap: 0.5em;
  a {
    border-bottom: none;
  }
  img {
    width: 2.4em;
    height: auto;
    &.disabled {
      filter: grayscale(1) opacity(0.5);
    }
  }
}

.media-item {
  position: relative;
  border: 1px solid var(--media-item-border);
  margin: 9px;
  padding: 10px 12px 6px;
  width: 320px;
  min-width: 320px;
  min-height: 140px;
  word-wrap: break-word;

  &:is(:hover, :active) {
    background: var(--media-item-active-background);
  }

  p {
    margin: 0 0 0.5em;
  }

  object {
    margin-top: 0.5em;
  }

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  audio {
    width: 100%;
    margin-top: 0.5em;
  }

  &.media-private {
    border-color: var(--media-item-border-private);

    & img.media-private {
      padding-right: 0.5em;
      width: 1.8em;
      vertical-align: text-bottom;
    }
  }
}

:is(tr, img) .media-private {
  padding-right: 0.5em;
  width: 1.8em;
  vertical-align: text-bottom;
}

a.media-icon {
  display: block;
  border-bottom: none;
  margin: 0 auto;
}

.media-icon img {
  display: block;
}

.media-icon-square {
  width: 48px;
  height: auto;
  max-height: 48px;
  aspect-ratio: 1;
  object-fit: contain;
}

a.media-flag {
  border-bottom: none;
}

.media-flag img {
  float: left;
  margin-right: 0.5em;
}

.media-link {
  font-size: 1.1em;
}

.media-action-box {
  position: relative;
  margin: 3em 3em 1em 1em;
  display: inline-block;
  vertical-align: top;
}

li.media-action {
  display: block;
  position: absolute;
  top: 4px;
  right: 8px;
  height: 16px;

  a {
    border: none;

    &.attach-media {
      margin-right: 5px;
    }
  }

  form {
    display: inline;
  }

  input {
    border: none;
  }
  input[type='checkbox'] {
    margin-top: -0.5em;
  }
}

td.media-action {
  padding: 0.4em 0 0.4em 0.5em;
}

#entry-sidebar .media-item {
  width: 100%;
  min-height: 0;
  padding: 4px;
  margin: 0.33em 0;
  min-width: inherit;
}

.folders-group {
  display: flex;
  flex-wrap: wrap;

  .media-item {
    min-height: 70px;

    p {
      margin-bottom: 0;
    }
  }
}

div.media-items-bloc {
  // div to avoid styling table
  display: flex;
  flex-wrap: wrap;
}

.media-folder {
  background: var(--media-folder-background);
  border-color: var(--media-folder-border);
  border-left-width: 8px;

  .media-link {
    font-size: 1.125em;
    color: var(--media-folder-link);
    border-bottom: none;
  }
}

tr.media-folder {
  background: var(--media-folder-background);

  .media-link {
    margin-left: 0;
  }
}

.media-folder-up {
  border-color: var(--media-folderup-border);
  padding-bottom: 6px;
}

:is(.medias-delete, .medias-select) {
  text-align: right;

  .form-buttons:not(:is(.checkboxes-helpers)) {
    justify-content: flex-end;
  }
}

.media-recent {
  margin-right: 2em;
}

#media-fav-dir {
  border-bottom: none;

  img {
    vertical-align: middle;
  }
}

.media-remove img {
  height: 1.25em;
  padding-top: 0.25em;
}
:is(.attach-media, .insert-media) {
  img {
    height: 1.25em;
    padding-top: 0.25em;
  }
}
.info.attach-media {
  img {
    vertical-align: text-bottom;
  }
}

/* upload multiple */

.enhanced_uploader {
  :is(.choose_files, .cancel, .clean, .start) {
    margin-right: 0.4em;
  }

  #upfile {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }

  .button.choose_files {
    display: inline-block;
  }

  .max-size {
    display: block;
  }

  .one-file {
    display: none;
  }

  p.clear {
    padding-top: 1em;
    margin-bottom: 1em;
  }
}

.button:is(.clean, .cancel, .choose_files) {
  display: none;
}

label span.one-file {
  display: inline;
}

#add-file-f p.clear {
  margin-top: 1em;
  margin-bottom: 0;
  clear: both;
}

.files {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 1px solid var(--media-files-border);

  li {
    margin-left: 0;
    padding-left: 0;
  }
}

.upload-msg {
  font-weight: bold;

  &.upload-error {
    color: var(--upload-error-color);
  }
}

.upload-files {
  padding: 0 0.5em;
  margin: 1em 0;
}

.upload-file {
  margin: 0;
  padding: 0.3em 0;
  border-top: 1px solid var(--upload-file-border);
  position: relative;
}

.upload-fileinfo {
  margin-left: 0;

  input {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }

  span {
    padding-right: 8px;
  }

  .upload-filecancel {
    display: block;
    width: 1.4em;
    height: auto;
    background: url('cancel.svg') no-repeat 0 50%;
    background-color: transparent;
    text-indent: -1000px;
    cursor: pointer;
    float: left;
  }
}

.upload-filemsg {
  font-weight: bold;

  &.upload-error {
    color: var(--upload-error-color);
  }
}

.upload-progress {
  margin: 1em 1em 1em 0;

  div {
    width: 0;
    height: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    background: url(progress.svg) repeat-x left top;
    background-color: var(--upload-progress-background);
    color: var(--upload-progress-color);
    border-radius: 3px;
  }
}

div.template-upload {
  clear: both;
}

.queue-message {
  font-weight: bold;
}
