.warn,
.warning,
.info {
	font-style: normal;
	padding: .2em .66em .2em;
	text-indent: 24px;
	color: #333;
	display: inline-block;
	line-height: 1.5em;
	border-radius: 3px;
}

.warn,
.warning {
	background: #FEFACD url(msg-warning.png) no-repeat .3em .3em;
	border: 1px solid #ffd478;
}

.info {
	background: #D9EDF7 url(msg-info.png) no-repeat .3em .3em;
	border: 1px solid #BCE8F1;
}

div.warn,
div.warning,
div.info {
	display: block;
	padding: 1em 1em .33em 1em;
	margin-bottom: 1em;
}

span.warn,
span.warning,
span.info {
	padding-top: 1px;
	padding-bottom: 1px;
	background-position: .3em .2em;
}

.error,
.message,
.static-msg,
.success,
.warning-msg {
	padding: 1em 0.5em 0.5em 48px;
	margin-bottom: 1em;
	border-radius: 8px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

p.error,
p.message,
p.static-msg,
p.success,
p.warning-msg {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: .5em;
}

.error {
	background: #ffbaba url(msg-error.png) no-repeat .7em .7em;
	color: #000;
  animation-name: kf-error;
  animation-duration: .5s;
}
@keyframes kf-error {
  0% {
    background-color: #fefacd;
  }
  100% {
    background-color: #ffbaba;
  }
}

.message,
.static-msg {
	background: #676e78 url(msg-std.png) no-repeat .7em .7em;
	color: #fff;
}
.message {
  animation-name: kf-message;
  animation-duration: .5s;
}
@keyframes kf-message {
  0% {
    background-color: #ccc;
  }
  100% {
    background-color: #676e78;
  }
}

.message a,
.static-msg a,
.message h3,
.static-msg h3 {
	color: #fff;
}

.success,
.warning-msg {
	color: #000;
}

.success {
	background: #bee74b url(msg-success.png) no-repeat .7em .7em;
  animation-name: kf-success;
  animation-duration: .5s;
}
@keyframes kf-success {
  0% {
    background-color: #9bca1c;
  }
  100% {
    background-color: #bee74b;
  }
}

.warning-msg {
	background: #ffd478 url(msg-warning.png) no-repeat .7em .7em;
	border: 1px solid #ffd478;
  animation-name: kf-warning;
  animation-duration: .5s;
}
@keyframes kf-warning {
  0% {
    background-color: #fefacd;
  }
  100% {
    background-color: #ffd478;
  }
}

.success a,
.warning-msg a,
.info a {
	color: #333;
}

.close-notice-parent {
	display: flex;
	justify-content: space-between;
	ul, p + p {
		flex: 1;
	}
	p + p {
		padding-left: .25em;
	}
}
.close-notice {
	background: none;
	border:	none;
	border-radius: 0;
	box-shadow: none;
	padding-left: 1em;
	&:hover, &:focus {
		background: none;
	}
}

.dc-update {
	padding: 1em 48px 0.5em 48px;
	margin-bottom: 1em;
	border-radius: 8px;
	background: #A2CBE9 url(msg-success.png) no-repeat .7em .7em;
	color: #000;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	h3 {
		margin-top: 0;
		color: #000;
	}
	p {
		display: inline-block;
		vertical-align: middle;
	}
	a {
		color: #000;
		margin-right: 1em;
		&.button {
			padding: .5em 1em;
		}
	}
}

.updt-info a {
	margin-left: 2em;
	border-color: #000;
	font-weight: bold;
}

body.ajax-loader {
	#header {
		border-bottom-color: shade($light-blue, 10%);
		transition: border-bottom-color .3s ease;
	}
	#collapser {
		background-color: shade($light-blue, 10%);
		transition: background-color .3s ease;
	}
}
