.modules td.module-actions,
.modules td.module-icon {
    vertical-align: middle;
}

.modules td.module-icon img:last-child {
    width: 16px;
    height: 16px;
}

.modules td.module-icon img.expand {
    margin-bottom: 3px;
}

.modules td.module-distrib img {
    display: block;
    float: right;
}

.modules dt {
    font-weight: bold;
}

.modules a.module-details {
    background: transparent url(search.png) no-repeat 2px center;
    padding: 4px 4px 0 20px;
}

.modules a.module-support {
    background: transparent url(help12.png) no-repeat 2px center;
    padding: 4px 4px 0 20px;
}

.modules a.module-config {
    background: transparent url(settings.png) no-repeat 2px 6px;
    padding: 4px 4px 0 18px;
}

#m_search {
    background: transparent url(search.png) no-repeat 4px center;
    padding-left: 20px;
}

.modules tr.expand,
.modules td.expand {
    background: #f7f7f7;
    border-color: #bee74b;
}

.modules tr.expand td:first-child {
    font-weight: bold;
    background: #DFE5E7;
}

.modules td.expand {
    padding: 0 0 1em;
    border-top: 1px solid #eaeaea;
}

.modules td.expand div {
    display: inline-block;
    vertical-align: top;
    margin-right: 3em;
}

.mod-more,
.mod-more li {
    margin: .25em 0 0 1em;
    padding: 0;
    list-style-type: none;
}

.mod-more {
    padding-top: .5em;
}

#plugin-update td {
    vertical-align: baseline;
}
