@use '../init/config';

table {
  .maximal {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1px;
  }

  .maximal,
  &.maximal {
    width: 100%;
    min-width: 10em; // Ensure minimum width for largest column in table
  }

  .minimal {
    width: 1px;
  }

  .nowrap {
    white-space: nowrap;
    vertical-align: top;
  }

  .count {
    text-align: right;
  }
}

tbody {
  font-variant-numeric: tabular-nums;
}

th.first input {
  padding-right: 34px;
}

th,
tr.line {
  img {
    vertical-align: middle;

    &.expand {
      margin-right: 6px;
      margin-bottom: -2px;
    }
  }
}

tr.line {
  p {
    margin: 0;
  }

  :is(input, select) {
    vertical-align: middle;
    box-shadow: none;
  }

  select {
    width: 6em;
  }

  &:is(:hover, :focus-within) {
    background-color: var(--line-focus-background);
    @media (prefers-contrast: more) {
      outline: 1px solid var(--fieldset-border);
    }
  }
}

td.status {
  vertical-align: middle;

  a {
    border: none;
  }
}

.noborder :is(td, th),
:is(td, th).noborder {
  border-width: 0 0 1px 0;
  border-color: var(--cell-noborder-color);
  line-height: 2em;
  padding-bottom: 0;
}

.noborder p {
  margin-bottom: 0;
}

table.posts-list {
  min-width: 50%;
}

/* Settings/Preferences */

details:has(.settings, .prefs) {
  margin-bottom: 1em;

  &[open] summary {
    color: var(--title-alt-color);
    margin-block-end: 1em;
  }
}

table:is(.settings, .prefs) {
  th:first-child {
    width: 20%;
  }

  th + th {
    width: 30%;

    + th {
      width: 10%;
    }
  }

  th:last-child {
    width: 40%;
  }

  tbody tr > th {
    font-weight: normal;
    background: inherit;
  }
}

/* js */

td.expand {
  padding: 1em;

  td {
    border-bottom: none;
  }
}

.handle {
  padding: 0;
}

.handler {
  cursor: move;
  background-image: url(drag.svg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-color: transparent;
  background-size: 1.4em;
  padding-left: 1.4em;

  body.dark-mode & {
    background-image: url(drag-dark.svg);
  }
}

/* Responsive Cell Header */

.rch td::before {
  display: none;
}

@media screen and (width <= config.$mobile-screen), print and (width <= 5in) {
  table.rch {
    display: block;

    :is(caption, tbody, tr, td) {
      display: block;
    }

    th,
    tr:first-of-type {
      display: none;
    }

    td:first-of-type {
      border-top: 1px solid var(--rch-table-1st-border);
      color: var(--rch-table-1st-color);
      background: var(--rch-table-1st-background);

      a {
        color: var(--rch-table-1st-link);
      }
    }

    td::before {
      display: inline;
      font-weight: bold;
      text-align: left;
      padding-inline-start: 0.25em;
    }

    td {
      display: grid;
      grid-template-columns: 10em auto;
      grid-gap: 1em 0.5em;
      text-align: left;
      border: none;

      a {
        color: var(--rch-table-td-link);
      }
    }

    .maximal {
      max-width: inherit;
    }

    .nowrap {
      white-space: inherit;
    }

    td.expand {
      grid-template-columns: auto !important;
      color: var(--rch-table-expand-color);
      background-color: var(--rch-table-expand-background);
      border-top: 1px dashed var(--rch-table-expand-border);
    }

    :is(input, select) {
      align-self: center;
    }
  }

  table.rch-thead {
    thead {
      display: none;
    }

    tr:first-of-type {
      display: block;
    }
  }
}
