.blog-perm {
	margin-top: 2em;
	padding-top: 2em;
	font-weight: bold;
}

.ul-perm {
	list-style-type: square;
	margin-left: 0;
	padding-left: 3.5em;
	margin-bottom: 0
}

.add-perm {
	padding-top: .5em;
	padding-left: 2.5em;
	margin-left: 0;
}
