/* ---------------------------------------------- Couleurs ajoutées via javascript
/* color-picker.js */

.color-color-picker {
	border: 1px solid #000;
	width: 195px;
	background: #fff;
}

/* _media_item.js */

.color-div {
	border: 1px solid #ccc;
}
