Source: dotclear
Section: web
Priority: optional
Maintainer: Olivier Meunier <olivier@dotclear.net>
Build-Depends: debhelper (>= 4.0.0), php5-cli
Standards-Version: 3.6.1

Package: dotclear
Architecture: all
Depends: ${misc:Depends}, apache2 | httpd | apache, libclearbricks, php5-pgsql | php5-sqlite | php5-mysql, php5-gd
Suggests: php5-tidy
Description: DotClear 2
 Dotclear is a blog engine written in PHP 5.
 More information on http://www.dotclear.org/

Package: dotclear-l10n-ja
Architecture: all
Depends: ${misc:Depends}, dotclear (>= 2.0)
Description: DotClear 2
 Dotclear 2 Japanese language pack
 Dotclear 2 is a blog engine written in PHP 5.
 More information on http://www.dotclear.org/