@charset "UTF-8";

#login-screen {
  display: block;
  inline-size: 20em;
  margin-block-start: 1.5em;
  margin-block-end: 0;
  margin-inline: auto;
  font-size: round(nearest, 1.16em, 1px);

  h1 {
    text-indent: -2000px;
    background-image: url(../../dc_logos/dotclear-light.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-color: transparent;
    block-size: 66px;
    inline-size: 20em;
    margin-block-end: 0.5em;
    margin-inline-start: 0;

    [dir='rtl'] & {
      background-position-x: right;
    }
  }

  h2 {
    padding: 0;
    color: var(--title-alt-color);
    text-align: end;
  }

  fieldset {
    border: 1px solid var(--login-fieldset-border);
    padding: 1em;
    background: var(--login-fieldset-background);
    margin-block-start: 1em;
  }

  .fieldset {
    border: 1px solid var(--login-fieldset-border);
    padding-block-start: 1em;
    padding-block-end: 0;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    background: var(--login-fieldset-background);
    margin-block-end: 0;
    margin-block-start: 1em;
  }

  .info {
    margin-block-start: 1em;
  }

  input:is(
    [type='text'],
    [type='color'],
    [type='email'],
    [type='url'],
    [type='datetime-local'],
    [type='date'],
    [type='time'],
    [type='file'],
    [type='number'],
    [type='password'],
    [type='submit']
  ) {
    &,
    &:focus {
      inline-size: 100%;
      margin: 0;
      padding: 5px 3px;
    }
  }

  input.login {
    &,
    &:focus {
      margin-block-end: 1em;
      padding-block-start: 6px;
      padding-block-end: 6px;
      font-size: round(nearest, 1em, 1px);
    }
  }

  .wide-button {
    inline-size: 100%;
    a {
      inline-size: 100%;
    }
  }

  #issue {
    margin-block-start: 1em;
    margin-inline-start: 1.33em;
    font-size: round(nearest, 0.91em, 1px);

    summary {
      margin-block-end: 1em;
    }

    p:first-child {
      text-align: end;
    }

    strong {
      font-weight: normal;
    }
  }

  .error {
    padding-block-end: 1em;
  }
}

@media (prefers-color-scheme: dark) {
  #login-screen h1 {
    background-image: url(../../dc_logos/dotclear-dark.svg);
  }
}
