@charset "UTF-8";

#media_img_title_pattern {
  margin-inline-end: 1em;
}

#part-users > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.user-perm {
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 1em;
  background: url(../../user.svg) no-repeat 0.6em 0.6em;
  background-size: 1.6em;
  background-color: transparent;
  inline-size: 20em;
  border: 1px solid var(--blog-user-border);
  border-radius: 0.5em;
  padding-block-start: 0;
  padding-block-end: 0.5em;
  padding-inline: 1em;

  [dir='rtl'] & {
    background-position-x: calc(100% - 0.6em);
  }

  :is(h4, h5, p, ul, li) {
    margin-block-start: 0.5em;
    margin-block-end: 0.33em;
    margin-inline: 0;
    padding: 0;
  }

  h4 {
    padding-inline-start: 1.4em;
  }

  h5 {
    margin-block-start: 1em;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  li {
    margin-inline-start: 1em;
    padding-inline-start: 0;
  }

  form,
  p:has(.button) {
    margin-block-start: auto;
  }

  &.user_super {
    border-color: var(--blog-super-border);
    background-color: var(--blog-super-background);
  }
}

li:is(.user_super, .user_admin) {
  margin-inline-start: 0;
  padding-inline-start: 1.6em;
  list-style: none;
  background: url(../../../images/superadmin.svg) no-repeat 0 0;
  background-size: 1.4em;
  background-color: transparent;

  [dir='rtl'] & {
    background-position-x: calc(100%);
  }
}

li.user_admin {
  background-image: url(../../../images/admin.svg);
}
