@charset "UTF-8";

/* Typographie */

/* base // */
html {
  font-size: round(nearest, var(--html-font-size), 1px);
  scrollbar-color: var(--scroll) transparent;

  &.dynamic-letter-spacing {
    * {
      letter-spacing: var(--dynamic-letter-spacing);
    }
  }
}
:not(html) {
  scrollbar-color: initial;
}

body {
  color: var(--body-color);
  background: var(--body-background);
  font-size: round(nearest, var(--body-font-size), 1px);
  line-height: 1.5;
  font-family: var(--sans-serif);
  scroll-behavior: smooth;
}

/* titres // */

:is(h2, h3, h4, h5, h6),
:is(.as_h3, .as_h4) {
  margin-block-start: 0;
  margin-block-end: 1em;
}

h2 {
  color: var(--title-color);
  font-size: round(nearest, 1.5em, 1px);
  font-weight: normal;
  line-height: 1.25;
  padding-block-start: 0;
  padding-block-end: 1.5em;
  padding-inline: 0;
}

h3,
.as_h3 {
  color: var(--title-alt-color);
  font-size: round(nearest, 1.34em, 1px);
  font-weight: normal;
  line-height: 1.5;
  margin-block-start: 1em;
}

h4,
.as_h4 {
  color: var(--title-color);
  font-size: round(nearest, 1.16em, 1px);
  line-height: 1.5;
}

h5 {
  color: var(--title-color);
  font-size: round(nearest, 1em, 1px);
  line-height: 1.5;
  font-weight: bold;
}

h6 {
  color: var(--title-color);
  font-size: round(nearest, 1em, 1px);
  line-height: 1.5;
}
