@charset "UTF-8";

.part-tabs,
.pseudo-tabs {
  ul {
    padding-block-start: 0.5em;
    padding-block-end: 0;
    padding-inline-start: 1em;
    padding-inline-end: 0;
    border-block-end: 1px solid var(--tabs-border);
    line-height: 1.8;
  }

  li {
    list-style: none;
    margin: 0;
    display: inline;

    &:first-child a {
      border-start-start-radius: 3px;
    }

    &:last-child a {
      border-start-end-radius: 3px;
    }

    a {
      padding: 0.33em 1.5em;
      margin-inline-end: -1px;
      border: 1px solid var(--tabs-border);
      border-block-end: none;
      text-decoration: none;
      color: var(--tabs-color);
      background-color: var(--tabs-background);
      display: inline-block;

      &:is(:hover, :focus) {
        color: var(--tabs-color);
        background: var(--tabs-active-background);
        border-block-end-color: var(--tabs-active-background);
      }

      &:link {
        transition: unset;
      }

      span {
        color: var(--body-color);
        font-weight: normal;
      }
    }

    &.part-tabs-active a,
    &.active a {
      color: var(--tabs-active-color);
      background: var(--tabs-active-background);
      font-weight: bold;
      border-block-end-color: var(--tabs-active-background);
    }
  }
}

.multi-part {
  padding-inline-start: 1em;
}

/* contextual help */

#help {
  margin-block-start: 4em;
  background: var(--help-background);
  z-index: 100;
  clear: both;
  padding: 0 1em;

  #content.with-help & {
    display: block;
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inline-size: 32rem; /* 24em; */
    border-inline-start: 2px solid var(--help-border);
    border-block-start: 2px solid var(--help-border);
    margin-block-start: 0;
    padding-block-start: 0.5em;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    overflow: auto;
  }
}

#help-button {
  background: url(../../help.svg) no-repeat 6px center;
  background-size: 18px;
  background-color: transparent;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 30px;
  padding-inline-end: 1.5em;
  cursor: pointer;
  color: var(--link-color);
  line-height: 3;

  [dir='rtl'] & {
    background-position-x: calc(100% - 6px);
  }

  &.floatable {
    border-block-start: 1px solid var(--help-button-border);
    border-inline-start: 1px solid var(--help-button-border);
    border-block-end: 1px solid var(--help-button-border);
    border-end-start-radius: 0.25em;
    border-start-start-radius: 0.25em;
    background-color: var(--help-button-background);
    position: fixed;
    inset-block-start: 10px;
    transform: translateZ(0); /* Let GPU doing his job */
  }

  .no-js & {
    inset-block-start: 1em;
  }

  span {
    padding-block-start: 0.5em;
    padding-block-end: 0.1em;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  #content.with-help & {
    inset-inline-end: 32rem; /* 24em; */
    background-color: var(--help-background);
    position: fixed;
    inset-block-start: 6em; /* 50px; */
    z-index: 100;
    border-block-start: 2px solid var(--help-border);
    border-inline-start: 2px solid var(--help-border);
    border-block-end: 2px solid var(--help-border);
    border-end-start-radius: 1em;
    border-start-start-radius: 1em;
  }
}
@media (scripting: none) {
  /* = without JS */
  #help-button {
    inset-block-start: 1em;
  }
}

.help-box {
  display: none;

  ul {
    padding-inline-start: 20px;
    margin-inline-start: 0;
  }
}

.help-content {
  #content.with-help & {
    padding-block-start: 0;
    padding-block-end: 1em;
    padding-inline: 1em;
  }

  h5 {
    color: var(--title-alt-color);
  }

  dt {
    font-weight: bold;
    color: var(--help-title-color);
    margin: 0;
  }

  dd {
    margin-block-start: 0.3em;
    margin-block-end: 1.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

/* lien d'aide générale dans le help content */
#helplink p {
  padding-block-start: 1em;
  padding-block-end: 0;
  padding-inline-start: 1em;
  padding-inline-end: 0;
}
