@charset "UTF-8";

/* debug */
#debug-btn {
  color: var(--header-color);
  background: var(--header-background);
  border: none;
}

.debug-anchor {
  anchor-name: --debug-anchor;
}

#debug {
  position: absolute;
  position-anchor: --debug-anchor;
  position-area: bottom;
  inline-size: fit-content;
  block-size: fit-content;
  margin-block-start: 1em;
  margin-block-end: 0;
  margin-inline-start: 0.25em;
  margin-inline-end: 0.5em;
  padding-block-start: 1em;
  padding-block-end: 0;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  color: var(--debug-color);
  background: var(--debug-background);
  border: 2px solid;
  font-size: round(nearest, calc(1em / 1.2), 1px);
}
