@charset "UTF-8";

#entry-form {
  display: flex;
  flex-wrap: wrap;
}

#entry-wrapper {
  flex-grow: 1;
  inline-size: calc(100% - 19em);

  @media screen and (width <= 1280px) {
    inline-size: 100%;
  }
}

#entry-content {
  margin-inline-start: 0;

  @media screen and (width > 1280px) {
    /* Large padding on big screens */
    padding-inline-end: 3em;
  }

  @media screen and (width <= 600px) {
    /* Small padding on medium screens */
    padding-inline-end: 1em;
  }

  @media screen and (width <= 600px) {
    /* No padding on small screens */
    padding-inline-end: 0;
  }
}

#entry-sidebar {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  flex-direction: column;
  margin-block-end: 1em;

  @media screen and (width <= 1280px) {
    flex-direction: row;
  }

  h4 {
    font-size: round(nearest, 1.08em, 1px);
    margin-block-start: 0.3em;
    border-block-end: 1px solid var(--entry-sb-title-border);
  }

  select {
    inline-size: 100%;
  }

  input#post_position {
    inline-size: 4em;
  }

  .media-item a.media-icon img {
    max-inline-size: 4em;
  }
}

#post_notes {
  padding-block-start: 0.5em;
  padding-block-end: 0.5em;
  padding-inline-start: 0.5em;
  padding-inline-end: 1.5em;
}

.sb-box {
  inline-size: 18em;
  padding: 0.5em 1em;
  background-color: var(--entry-sb-background);

  &:focus-within {
    background-color: var(--entry-sb-focus-background);
    @media (prefers-contrast: more) {
      outline: 1px solid var(--fieldset-border);
    }
  }
}

#tb_excerpt {
  inline-size: 100%;
}

/* Actions */

.attachment-remove img {
  block-size: 1.25em;
  padding-block-start: 0.25em;
}

.format_control {
  display: block;
  margin-block-start: 0.5em;
}
