@charset "UTF-8";

a.form-control {
  display: none;
  color: var(--form-control-color);

  &::before {
    content: '▶';
    margin-inline-end: 5px;
  }

  &.open {
    &::before {
      content: '▼';
    }
  }
}

span.ib {
  inline-size: 7em;
}

span.ibw {
  inline-size: 9em;
  display: inline-block;
}

#filter-details {
  margin-block-end: 1em;
}

#filter-control {
  margin-block-start: 0.5em;
  margin-block-end: 0;
  inline-size: fit-content;
  cursor: pointer;
  text-decoration: none;
  border-block-end: 1px dotted var(--link-border);
  &:is(:hover, :active) {
    border-block-end-style: solid;
  }
  &:focus {
    outline: 2px solid var(--link-outline);
    border-block-end: none;
    text-decoration: none;
  }
  &.open {
    margin-block-end: 1em;
  }
}

#filters-form {
  border: 1px solid var(--filter-border);
  border-radius: 0.3em;
  margin-block-end: 2em;
  padding-block-start: 0.5em;
  padding-block-end: 0;
  padding-inline: 1em;

  .table {
    inline-size: 100%;
    padding: 0;
    margin-block-end: 1em;
    margin-block-start: 0.5em;
  }

  .cell {
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 2em;
  }

  .filters-sibling-cell {
    padding-block-start: 4em;
  }

  .filters-options {
    padding-inline-start: 2em;
    border-inline-start: 1px solid var(--filter-options-border);
  }

  select {
    inline-size: 14em;
    vertical-align: middle;
  }

  h4 {
    margin-block-start: 0;
    margin-block-end: 2em;
  }

  label.ib {
    inline-size: 7em;
  }

  label.ibw {
    inline-size: 9em;
    display: inline-block;
  }

  &:focus-within {
    background-color: var(--filter-focus-background);
    @media (prefers-contrast: more) {
      outline: 1px solid var(--fieldset-border);
    }
  }
}
