@charset "UTF-8";

/* prelude */

#prelude {
  line-height: 1.5;
  margin: 0;
  padding: 0.5em;
  overflow: hidden;
  background: var(--prelude-background);
  inline-size: 100%;

  li {
    list-style-type: none;
    margin: 0;
    background: transparent;
    display: inline;

    a {
      padding-block-start: 3px;
      padding-block-end: 3px;
      padding-inline-start: 8px;
      padding-inline-end: 16px;
      color: var(--prelude-color);
      background: var(--prelude-background);
      text-decoration: underline;
      border-block-end: none;

      &:hover,
      &:focus {
        background: var(--prelude-background-alt);
      }
    }
  }
}

/* header global h1, form#top-info-blog, ul#top-info-user */

#header {
  p {
    text-wrap: initial;
  }

  a {
    color: var(--header-color);
  }

  img {
    vertical-align: middle;
    block-size: 1.125em;
    inline-size: auto;
  }
}

/* h1 */

h1 {
  text-indent: 100%;
  inline-size: 14em;

  a {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 150px;
    block-size: 36px; /* was 3em; */
    color: var(--header-color);
    background: url(../../dc_logos/dotclear.svg) no-repeat;
    background-size: auto 2.5em;
    background-position: center;
    transition: none;

    &:is(:hover, :focus) {
      background-image: url(../../dc_logos/dotclear-alt.svg);
      transition: none;
    }

    &:link {
      transition-timing-function: ease-in-out;
    }
  }
}

/* top-info-blog */

#top-info-blog {
  select {
    max-inline-size: 20em;
  }

  a {
    margin-inline-start: 1.5em;
  }

  input[type='submit'] {
    color: var(--submit-color);
    background: var(--submit-background);
    border-color: var(--submit-color);
    margin-inline-start: 0.33em;
  }

  input[type='submit']:hover {
    color: var(--submit-background);
    background: var(--submit-color);
  }

  p {
    display: inline-block;
    margin: 0;
    vertical-align: text-top;
  }
}

/* top-info-user */

#top-info-user {
  padding-inline-end: 0.5em;
  list-style-type: none;
  text-align: end;

  li {
    display: inline-block;
    margin-inline-start: 0.5em;
    padding-inline-start: 0.5em;
    border-inline-start: 1px solid var(--header-link-border);

    &:first-child {
      border-inline-start: none;
    }
  }

  a.active {
    border-width: 0;
    border-radius: 4px;
    margin: 0;
    padding-block-start: 2px;
    padding-block-end: 3px;
    padding-inline: 8px;
    color: var(--header-active-color);
    background-color: var(--header-active-background);
    font-weight: bold;
  }
}

/* ------------------------------------------------------------------------------------
                              UN POIL DE MEDIA QUERIES
------------------------------------------------------------------------------------ */

@media screen and (width <= 600px) {
  h1,
  h1 a {
    padding: 0;
  }
}

@media screen and (width <= 600px) {
  h1 a {
    background: url(../../dc_logos/dotclear-mini.svg) no-repeat;
    background-size: 2.5em;
    background-position: center;

    &:is(:hover, :focus) {
      background-image: url(../../dc_logos/dotclear-mini-alt.svg);
    }
  }
}
