@charset "UTF-8";

#dashboard-main {
  text-align: center;

  & > *:last-child {
    margin-block-end: 1em;
  }
}

/* raccourcis */

#icons {
  --index-icon-width: 12em;
  --index-icon-gap: 1em;
  --index-margin-block-end: 1em;
  --index-columns-width: 12em;

  &.dense-layout {
    --index-icon-width: 11em;
    --index-icon-gap: 0.5em;
    --index-margin-block-end: 0;
    --index-columns-width: 10em;
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--index-columns-width), 1fr));
  justify-content: space-evenly;
  justify-items: center;
  grid-auto-rows: 1fr;
  gap: var(--index-icon-gap);
  margin-block-start: 1em;
  margin-block-end: var(--index-margin-block-end);
  margin-inline: auto;

  p {
    inline-size: var(--index-icon-width);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &.dense-layout {
    p {
      padding: 0;
      .badge-icon {
        inset-inline-end: 1.125em;
      }
      .badge-icon.badge-left {
        inset-inline-end: auto;
        inset-inline-start: 1.125em;
      }
    }
  }

  a {
    &,
    &:is(:link, :visited, :hover, :focus) {
      border-block-end-width: 0;
      text-decoration: none;
    }

    span {
      color: var(--index-link-color);
      border-block-end: 1px dotted var(--index-link-border);
    }

    img {
      padding: 1.5em;
      background-color: var(--index-icon-background);
      border-radius: 8px;
      border: none;
      outline: 1px solid;
      outline-color: var(--index-icon-outline-color);
      outline-offset: -1px;
      display: inline-block;
      filter: contrast(var(--index-icon-contrast));
      inline-size: calc(5em + 3em);
      max-inline-size: calc(64px + 3em);
      block-size: calc(5em + 3em);
      max-block-size: calc(64px + 3em);
    }

    &:focus {
      outline: 0;

      span {
        border: 2px solid var(--index-icon-outline);
      }
    }

    &:is(:focus, :hover) {
      img {
        background: var(--index-icon-outline);
        filter: contrast(100%);
        outline: 0;
        border-color: var(--index-icon-border);
      }

      span {
        border-block-end-style: solid;
      }
    }
  }
}

@media (prefers-contrast: more) {
  #icons a img {
    outline: 0;
    border: 1px solid var(--index-icon-border);
  }
}

/* billet rapide */

#quick {
  max-inline-size: 72em;
  margin-block-start: 1em;
  margin-block-end: 2em;
  margin-inline: auto;
  padding: 1em;
  background: var(--quick-background);
  border: 1px solid var(--quick-border);
  border-radius: 3px;
  text-align: start;

  h3 {
    margin-block-end: 0.2em;
    font-size: round(nearest, 1.2em, 1px);
  }

  #new_cat,
  .q-cat,
  .q-cat label {
    display: inline-block;
    vertical-align: top;
    margin-inline-end: 1em;
    margin-block-start: 0.5em;
  }

  .q-cat label {
    margin-inline-end: 0.3em;
  }

  #new_cat {
    margin-block-end: 2em;
  }
}

/* modules additionnels */

#dashboard-boxes {
  margin-block-start: 1em;
  margin-block-end: 2em;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  .box {
    padding: 0.75em;
    border: 1px solid var(--index-box-border);
    border-radius: 3px;
    min-block-size: 16em;
    text-align: start;
    margin: 0; /* No necessary as we have gap on flex parent */
  }

  &.dense-layout .box {
    flex-basis: auto;
  }
}

:is(.db-items, .db-contents) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 auto;
  gap: 1em;

  ul {
    display: block;
    padding-inline-start: 1.5em;
    list-style: square;
  }

  li {
    margin-block-start: 0.25em;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

.no-js .outgoing img {
  display: none;
}
@media (scripting: none) {
  /* = without JS */
  .outgoing img {
    display: none;
  }
}

.dc-box {
  background: url(../../dc_logos/dotclear-leaf.svg) no-repeat top right;
  background-size: 2em;
  background-origin: content-box;
  background-color: transparent;

  [dir='rtl'] & {
    background-position-x: left;
  }
}

#news {
  dt {
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0.4em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  dd {
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;

    p {
      margin-block-start: 0.2em;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }
}

/* Drag'n'drop of dashboard areas */

#dragndrop {
  position: absolute;

  .no-js & {
    display: none;

    & + label {
      display: none;
    }
  }

  & + label {
    position: absolute;
    inset-inline-end: 0;
    display: inline-block;
    line-height: 1;
  }

  & + label .dragndrop-svg {
    inline-size: 2em;
    block-size: 1.5em;
    fill: var(--drag-n-drop-off);
  }

  &:checked + label .dragndrop-svg {
    fill: var(--drag-n-drop-on);
    background-color: var(--body-background);
  }
}
@media (scripting: none) {
  /* = without JS */
  #dragndrop {
    display: none;

    & + label {
      display: none;
    }
  }
}

/* Upgrade mode */

.upgrade-mode {
  :root & {
    --header-background: var(--upgrade-mode);
    --header-background-alt: var(--upgrade-mode);
    --collapser-focus: var(--upgrade-mode);
  }

  #dashboard-main {
    text-align: inherit;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
  }

  #dashboard-boxes,
  #icons {
    margin: 0;
  }

  .db-items {
    display: block;
  }

  @media screen and (width <= 1024px) {
    #dashboard-main {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (width <= 600px) {
    #dashboard-main {
      grid-template-columns: 1fr;
    }
  }

  #icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;

    p {
      inline-size: calc(50% - 0.5em);
      flex-direction: row;
      align-items: flex-start;
      gap: 1em;
    }

    a {
      display: grid;
      grid-template-areas:
        'icon title'
        'icon descr';
      grid-template-rows: auto 1fr;
      gap: 1em;

      img {
        grid-area: icon;
      }
      span {
        &.db-icon-title {
          grid-area: title;
        }

        &.db-icon-descr {
          grid-area: descr;
          border-block-end: none;
        }
      }
    }

    span.db-icon-title {
      flex: none;
    }
  }

  @media screen and (width <= 1024px) {
    #icons {
      margin-block-start: 1em;

      p {
        inline-size: auto;
      }
    }
    .db-items {
      display: flex;
    }
  }

  @media screen and (width <= 600px) {
    #icons {
      flex-wrap: nowrap;
      flex-direction: column;
      margin: 1em;

      p {
        inline-size: auto;
      }
    }

    .db-items {
      display: flex;
    }
  }

  .badge-icon {
    &.badge-left {
      inset-inline-end: inherit;
      inset-inline-start: -0.5em;
    }
  }
}
