@charset "UTF-8";

/* Admin layout */
#dotclear-admin {
  display: flex;
  min-block-size: 100vh;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
  justify-content: space-between;
  color: var(--header-color);
  background: var(--header-background);
  border-block-end: 4px solid var(--header-border);
  inline-size: 100%;
  min-block-size: 3em;
  position: relative;
}

html.dirty {
  #header {
    border-block-end-color: var(--header-border-dirty);
  }
  #collapser,
  #collapser_btn {
    background-color: var(--collapser-background-dirty);
  }
}

body.safe-mode #header {
  border-block-end-color: var(--header-border-safe);
}

h1,
:is(#top-info-blog, #top-info-user) {
  padding: 0.5em 0;
  margin: 0;
  font-size: round(nearest, 1em, 1px);
}
h1,
#top-info-user {
  display: table-cell;
}
#top-info-user {
  margin-inline-start: auto;
}
#top-info-blog {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25em;
}

#header a.logout img {
  margin-inline-start: 0.25em;
}

#wrapper {
  background: var(--wrapper-background);
  position: relative;
  float: inline-start;
  inline-size: 100%;
  z-index: 10;
  flex: 1;
}

#main {
  inline-size: 100%;
  float: inline-end;
  margin-inline-start: -14em;
  margin-block-start: 0;
}

#content {
  background: var(--content-background);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 14em;
  margin-inline-end: 0;
  padding-block-start: 0.75em;
  padding-block-end: 0.75em;
  padding-inline-start: 2.5em;
  padding-inline-end: 1em;

  &.hide_collapser_btn {
    padding-inline-start: 1.5em;
  }
}

#main-menu {
  background: var(--main-menu-background);
  inline-size: 14em;
  float: inline-start;
  margin: 0;
  padding-block-start: 0.5em;
  padding-block-end: 1em;
  overflow: hidden;

  &.sticky {
    position: sticky;
    inset-block-start: 0;
  }
}

#footer {
  background-color: var(--footer-background);
  border-block-start: 1px solid var(--footer-border);
  clear: both;
  position: relative;
  padding-block-start: 0.5em;
  padding-block-end: 0.5em;
  padding-inline-start: 0.5em;
  padding-inline-end: 0;
  text-align: start;
}

/* to hide main-menu */

#collapser {
  background: var(--collapser-background);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 14em;
  inline-size: var(--collapser-width);
  block-size: 100%;
  overflow: hidden;
  display: block;
  border-inline-end: 0;
  border-block-end: 0;
  z-index: 1;
  transition: none;

  &:is(:hover, :focus) {
    background: var(--collapser-focus);
    inline-size: var(--collapser-width-focus);
  }
}

#collapser_btn {
  position: absolute;
  writing-mode: vertical-lr; /* warning: this mode swap inline/block logicial positionning */
  inset-block-start: 14em;
  inset-inline-start: 11em;
  color: var(--collapser-btn-color);
  background: var(--collapser-background);
  border: none;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  padding: 0.75em 0.25em;
  z-index: 1;

  &:is(:hover, :focus) {
    color: var(--collapser-btn-hover-color);
    background: var(--collapser-focus);
  }
}
[dir='rtl'] #collapser_btn {
  inset-block-start: inherit;
  inset-block-end: 14em;
  inset-inline-start: inherit;
  inset-inline-end: 11em;
}

/* If collapser bar is hover, display btn has hover */
div:has(#collapser:is(:hover, :focus)) + #collapser_btn {
  color: var(--collapser-btn-hover-color);
  background: var(--collapser-focus);
}
/* If collapser btn is hover, display bar as hover */
#wrapper:has(#collapser_btn:is(:hover, :focus)) #collapser {
  background: var(--collapser-focus);
  inline-size: var(--collapser-width-focus);
}

.expand-mm {
  display: none;
}

/* if main-menu is hidden */

.hide-mm {
  #main {
    margin-inline-start: 0;
  }

  #content {
    margin-inline-start: var(--collapser-width);

    > h2 {
      margin-inline-start: calc(-1em - var(--collapser-width));
    }
  }

  #main-menu {
    display: none;
  }

  #collapser,
  #collapser_btn {
    inset-inline-start: 0;
  }

  .collapse-mm {
    display: none;
  }

  .expand-mm {
    display: block;
  }
}

[dir='rtl'] .hide-mm #collapser_btn {
  inset-inline-start: inherit;
  inset-block-end: 0;
}

body.light-mode,
body.dark-mode.upgrade-mode {
  :is(.collapse-mm, .expand-mm) {
    filter: invert(1); /* black → white on dark background */
  }
}

#wrapper.hide-mm {
  background: var(--content-background);
}

/* -------------------------------------------------------------- layout: two-cols */

.two-cols {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 1em;
  column-gap: 2em;
  clear: both;

  &.clearfix {
    /* May be useful for older 3rd party code */
    display: grid;
  }

  .col {
    grid-column: span 3;
  }

  .col70 {
    grid-column: span 4;
  }

  .col30 {
    grid-column: span 2;
  }

  .col100 {
    grid-column: span 6;
  }
}

@media screen and (width <= 1024px) {
  .two-cols,
  .two-cols.clearfix {
    display: block;
  }
}

/* -------------------------------------------------------------- layout: three-cols */

.three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1em;
  column-gap: 2em;
  clear: both;

  .col {
    grid-column: span 1;
  }

  .col100 {
    grid-column: span 3;
  }

  &.clearfix {
    /* May be useful for older 3rd party code */
    display: grid;
  }
}

@media screen and (width <= 1024px) {
  .three-cols,
  .three-cols.clearfix {
    display: block;
  }
}

/* ------------------------------------------------- layout: optionnal one/two/three-boxes */

.one-box,
*:has(> .two-boxes),
*:has(> .three-boxes) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2em;
  row-gap: 1em;
  &.txt-left {
    justify-content: left;
  }
  &.txt-center {
    justify-content: center;
  }
  &.txt-right {
    justify-content: right;
  }
  & > * {
    margin: 0;
  }
  & > :is(legend, h3, h4, h5, hr) {
    inline-size: 100%;
  }
  & .wide {
    inline-size: 100%;
  }
}

.one-box {
  text-align: justify;
}

.two-boxes {
  inline-size: calc((100% - 2em) / 2);
}

.three-boxes {
  inline-size: calc((100% - 4em) / 3);
}

:is(.two-boxes, .three-boxes) {
  vertical-align: top;
  text-align: start;
}

/* ---------------------------------------------------------------- layout: popups */

.popup {
  h1 {
    color: var(--popup-title-color);
    background: var(--popup-title-background);
    display: block;
    inline-size: 100%;
    margin: 0;
    font-size: round(nearest, 1.5em, 1px);
    text-indent: 1em;
    line-height: 1.5em;
    font-weight: normal;
  }

  #wrapper {
    display: block;
    float: none;
    inline-size: 100%;
    margin: 0;
    padding: 0;
    background-position: 0 0;

    [dir='rtl'] & {
      background-position-x: 100%;
    }
  }

  #main {
    margin: 0;
    padding: 0;
  }

  #content {
    margin: 0;
    padding: 1em;

    h2 {
      margin-block-start: 0;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding: 0;
    }
  }

  #footer p {
    border: none;
  }
}

/* -------------------------------------------------------- layout: classes de complément */

.constrained {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.table {
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: top;
}

.clear {
  clear: both;
}

.lclear {
  clear: inline-start;
}

.clearer {
  block-size: 1px;
  font-size: 1px;
}

/* Micro clearfix thx to Nicolas Gallagher, replaced by display: flow-root (see https://css-tricks.com/display-flow-root/) */

.clearfix {
  display: flow-root;
}

.box {
  display: inline-block;
  vertical-align: top;
  text-align: start;
  flex: 1 1 auto;

  &.small {
    flex-basis: 24em;
  }

  &.medium {
    flex-basis: 42em;
  }

  &.large {
    inline-size: 100%;
  }
}

.odd {
  margin-inline-start: 0;
}

.even {
  margin-inline-end: 0;
}

/* ------------------------------------------------------------------------------------
                              UN POIL DE MEDIA QUERIES
------------------------------------------------------------------------------------ */

@media screen and (width <= 1280px) {
  #header {
    h1,
    h1 a {
      inline-size: 10em;
      margin: 0;
    }
  }

  h1 {
    inline-size: 19.5em;
    display: inline-block;
    vertical-align: top;
    margin-inline-end: 1em;
  }

  #top-info-blog {
    margin-inline-end: 0.5em;

    #switchblog {
      max-inline-size: 16em;
    }

    a {
      margin-inline-start: 2em;
    }
  }

  #top-info-user {
    display: block;
    inline-size: 100%;
  }

  #collapser,
  #collapser_btn {
    inset-inline-start: 17em;
  }

  #main {
    margin-inline-start: -17em;
  }

  #content {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 17em;
    margin-inline-end: 0;
  }

  #main-menu {
    inline-size: 17em;
  }

  .three-boxes,
  .three-boxes .box {
    inline-size: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

@media screen and (width <= 1024px) {
  #dashboard-boxes :is(.box.medium, .box.small, .box.large),
  :is(.box.medium, .box.small, .box.large) {
    inline-size: 95%;
    margin: 0 auto;
  }
}

@media screen and (width <= 1024px) {
  #help-button {
    block-size: 26px;
    inline-size: 26px;
    margin: 0;
    overflow: hidden;
  }

  #content.with-help #help-button {
    inset-block-start: 10em; /* 77px; */
  }

  :is(.one-box, .box),
  body:not(.popup) .two-boxes {
    inline-size: 96%;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

@media screen and (width <= 600px) {
  #header h1,
  #header h1 a {
    inline-size: 42px !important;
    block-size: 42px;
  }

  :is(#wrapper, #main, #main-menu) {
    display: block;
    float: none;
    inline-size: 100%;
    margin: 0;
  }

  #main-menu {
    .hide-mm & {
      display: block;
    }

    a {
      display: block;
      inline-size: 100%;
    }

    h3 a {
      display: inline;
    }
  }

  #content,
  .hide-mm #content {
    margin: 0;
  }

  #collapser,
  #collapser_btn {
    display: none;
  }

  #main #content > h2 {
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline: -0.25em;
  }

  #dashboard-boxes :is(.box.medium, .box.small, .box.large),
  :is(.box.medium, .box.small, .box.large) {
    inline-size: 95%;
    margin: 0 auto;
  }

  .cell,
  #filters-form .cell {
    display: inline-block;
    vertical-align: bottom;
  }
}

@media screen and (width <= 600px) {
  .nomobile {
    display: none;
  }

  #top-info-blog {
    max-inline-size: 75%;
  }

  #header a.logout img {
    /* The preceding logout label is not displayed on small screen, so margin is not more needed */
    margin-inline-start: 0;
  }

  #content.with-help {
    #help-button {
      inset-block-start: 10em; /* 120px; */
      inset-inline-end: 28rem; /* 20.5em; */
    }

    #help {
      inline-size: 28rem;
    }
  }

  p.top-add,
  p.new-stuff {
    margin-block-end: 0.5em;
  }

  .part-tabs ul,
  .pseudo-tabs ul {
    margin: 1em 0;
  }

  .part-tabs li a,
  .pseudo-tabs li a {
    display: block;
    inline-size: 100%;
  }

  #icons p {
    inline-size: 9em;
  }

  .media-item {
    inline-size: 90%;
  }

  :is(#theme-new, #theme-activate, #theme-deactivate) {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  body.popup .two-boxes {
    inline-size: 96%;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .box.current-theme {
    margin: 5px;
    inline-size: 100%;
  }

  .current-theme .module-sshot img {
    margin: 0;
    float: none;
    max-inline-size: 100%;
  }

  table .maximal {
    min-inline-size: 14em;
  }
}
