@charset "UTF-8";

#main-menu {
  div:last-child {
    border-block-end: none;
  }

  h3 {
    margin: 0;
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-inline-start: 8px;
    padding-inline-end: 0;
    color: var(--main-menu-title-color);
    font-size: round(nearest, 1.15em, 1px);
  }

  a {
    color: var(--main-menu-item-color);
    border-block-end-color: var(--main-menu-item-border);
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 1.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    list-style: none;

    li {
      margin-block-start: 0.5em;
      margin-block-end: 0;
      margin-inline: 0;
      padding-block-start: 2px;
      padding-block-end: 2px;
      padding-inline-start: 0.5em;
      padding-inline-end: 0.5em;
      position: relative;

      img {
        inline-size: 1em;
        block-size: 1em;
        min-inline-size: 1em;
        margin-block-start: 0.25em;
        outline: 0;
      }

      a {
        display: flex;
        border-block-end: none;
        min-block-size: calc(1.5em + 2px);
        img {
          margin-inline-start: 0.25em;
          margin-inline-end: 0.5em;
          min-inline-size: 1em;
        }
      }

      &:hover {
        background-color: var(--main-menu-active-background);
      }

      &:first-child {
        margin-block-start: 0;
      }
    }
  }

  .active {
    background-color: var(--main-menu-active-background);
    font-weight: bold;

    a {
      border-block-end: none;
      color: var(--main-menu-active-color);
      padding-inline-end: 0.875em;
      position: relative;

      &::after {
        content: ':';
        position: absolute;
        inset-inline-end: 0;
      }
    }
  }
}

:is(#favorites-menu, #blog-menu, #system-menu, #plugins-menu) {
  border-block-end: 1px dashed var(--main-menu-border);
}

#favorites-menu {
  h3 {
    font-variant: small-caps;
    padding-block-start: 0.2em;
  }
}

#search-menu {
  padding-block-start: 4px;
  padding-block-end: 0;
  padding-inline-start: 4px;
  padding-inline-end: 0;
  font-size: round(nearest, 0.91em, 1px);

  p {
    inline-size: 95%;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  input[type='submit'] {
    float: inline-end;
  }
}

#qx {
  inline-size: 75%;
  background: url(../../search.svg) no-repeat 0 center;
  background-color: field;
  padding-inline-start: 20px;

  [dir='rtl'] & {
    background-position-x: 100%;
  }
}
