@charset "UTF-8";

/* ------------------------------------------------------------------ titres */

/* fil d'ariane */

#content > h2 {
  padding-block-start: 0;
  padding-block-end: 0.5em;
  padding-inline-start: 1.25em;
  padding-inline-end: 0.75em;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: -1.25em;
  margin-inline-end: -0.5em;
  background: var(--breadcrumb-background);
  border-block-end: 1px solid var(--breadcrumb-border);
}
#content.hide_collapser_btn > h2 {
  padding-inline-start: 0.625em;
  margin-inline-start: -0.625em;
}

/* page courante dans le fil d'ariane */

.page-title {
  color: var(--breadcrumb-current);

  img {
    vertical-align: middle;
  }
}

/* autres titres */

#main-menu h3 {
  font-weight: bold;
}

.fieldset :is(h3, h4),
.pretty-title {
  color: var(--fieldset-pretty-title-color);
  font-size: round(nearest, 1em, 1px);
  font-weight: bold;
}

.fieldset h3 {
  font-size: round(nearest, 1.17em, 1px);
}

.fieldset :is(h3, h4).smart-title,
.smart-title {
  font-size: round(nearest, 1em, 1px);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--fieldset-smart-title-color);
}

.fieldset :is(h3, h4).border-top {
  padding-block-start: 1em;
}

#entry-sidebar h5 {
  font-weight: normal;
  color: var(--entry-sidebar-title-color);
}

:is(h4, h5) label {
  color: var(--title-label-color);
}

:is(h2, h3, h4, h5, ul, p) {
  &:first-child {
    margin-block-start: 0;
  }
}

/* ---------------------------------------------------------------- tableaux */

/*  Pour autoriser le scroll sur les petites largeurs
  envelopper les tableaux dans une div.table-outer */

.table-outer {
  inline-size: 100%;
  overflow: auto;
}

table {
  font-size: round(nearest, 1em, 1px);
  border-collapse: collapse;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  inline-size: 100%;
}

caption {
  color: var(--table-caption-color);
  font-weight: bold;
  text-align: start;
  margin-block-end: 0.5em;
}

th:not(.module-name) {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--head-border);
  background: var(--head-background);
  padding-block-start: 0.4em;
  padding-block-end: 0.4em;
  padding-inline-start: 0.5em;
  padding-inline-end: 1em;
  vertical-align: top;
  text-align: start;
  min-inline-size: 2.8em;
}

td,
th.module-name {
  font-weight: normal;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--cell-border);
  padding-block-start: 0.4em;
  padding-block-end: 0.4em;
  padding-inline-start: 0.5em;
  padding-inline-end: 1em;
  vertical-align: top;
}

/* ---------------------------------------------------------- autres balises */

p {
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
pre + p {
  margin-block-start: 1em;
}

hr {
  block-size: 1px;
  border-width: 0;
  background-color: var(--hr-color);

  &.clearer {
    clear: both;
  }

  &.clear {
    margin: 1em auto;
  }
}

:is(pre, code),
#debug {
  font: 100% var(--monospace);
}

code {
  color: var(--code-color);
  background: var(--code-background);
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}

abbr {
  cursor: help;
}

:is(input, textarea, select, option, optgroup, legend, label) {
  font-size: round(nearest, 1em, 1px);
}

kbd {
  font-size: round(nearest, 0.75em, 1px);
  font-weight: bold;
  font-style: normal;
  line-height: 1.6;
  white-space: nowrap;
  color: var(--body-color);
  background-color: var(--body-background);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  display: inline-block;
  margin: 0 0.1em;
  padding-block-start: 0.1em;
  padding-block-end: 0.25em;
  padding-inline: 0.6em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* ------------------------------------------------------------------ liens */

a,
a:is(:link, :visited) {
  color: var(--link-color);
  text-decoration: none;
  border-block-end: 1px dotted var(--link-border);
  background-color: inherit;
  outline: 0;

  img {
    border: none;
    background: initial;
    max-inline-size: initial;
  }
}

a:is(:hover, :active) {
  border-block-end-style: solid;
}

h1 a:is(:link, :visited) {
  border: none;
}

.discrete a {
  color: var(--discrete-link-color);
}

a:link {
  transition: 0.5s;
}

a:focus,
a:focus img {
  outline: 2px solid var(--link-outline);
  border-block-end: none;
  text-decoration: none;
}

a.outgoing img[src*='outgoing-link'],
.outgoing-js {
  inline-size: 1em;
  vertical-align: top;
  filter: contrast(var(--outgoing-link-filter));

  #header & {
    inline-size: 1.5em;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0.5em;
    padding-inline-end: 0;
    vertical-align: top;
    filter: contrast(var(--outgoing-link-filter-header));
  }
}
