@charset "UTF-8";

#media-icon {
  float: inline-start;
}

.near-icon {
  margin-inline-start: 70px;
  margin-block-end: 3em;
}

#media-details {
  ul {
    display: block;
    margin-inline-start: 0;
    padding: 0;
  }

  li {
    list-style: square inside;
    margin: 0;
    padding: 0;
  }
}

#media-original-image {
  overflow: auto;

  &.overheight {
    max-block-size: 500px;
  }
}

#media-attribute {
  margin-inline-start: 0.5em;
  padding: 0.5em;
  border-inline-start: 1px solid currentColor;
  overflow-wrap: break-word;

  .media-title {
    font-weight: bolder;
  }

  .media-desc {
    font-style: italic;
  }
}

#flip-rotate-form {
  inline-size: fit-content;
}

#flip_v,
#flip_h,
#rotate_c,
#rotate_a {
  inline-size: 3em;
  block-size: 3em;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

#flip_v {
  background-image: url(../../flip_v.svg);
}

#flip_h {
  background-image: url(../../flip_h.svg);
}

#rotate_c {
  background-image: url(../../rotate_c.svg);
}

#rotate_a {
  background-image: url(../../rotate_a.svg);
}

body.dark-mode {
  #flip_v,
  #flip_h,
  #rotate_c,
  #rotate_a {
    filter: invert(1);
  }
}
