@charset "UTF-8";

.modules td {
  &.module-icon img {
    inline-size: 1.25em;
    block-size: 1.25em;

    &.expand {
      margin-block-end: 3px;
    }
  }

  &.module-distrib img {
    inline-size: 1.5em;
    block-size: 1.5em;
    float: inline-end;
  }
}

.modules :is(tr, td).expand {
  background: var(--modules-background);
  border-color: var(--modules-border);
}

.modules tr.expand td:first-child {
  font-weight: bold;
  background: var(--modules-background);
}

.modules td.expand {
  padding-block-start: 0;
  padding-block-end: 1em;
  padding-inline: 0;

  div {
    display: inline-block;
    vertical-align: top;
    margin-inline-end: 3em;
  }
}

.modules dt {
  font-weight: bold;
}

.modules a {
  &.module-details {
    background: url(../../search.svg) no-repeat 0 center;
    background-color: transparent;
    padding-block-start: 4px;
    padding-block-end: 0;
    padding-inline-start: 20px;
    padding-inline-end: 4px;
    display: inline-flex;

    [dir='rtl'] & {
      background-position-x: 100%;
    }
  }

  &.module-support {
    background: url(../../help.svg) no-repeat 2px center;
    background-size: 14px;
    background-color: transparent;
    padding-block-start: 4px;
    padding-block-end: 0;
    padding-inline-start: 20px;
    padding-inline-end: 4px;
    display: inline-flex;

    [dir='rtl'] & {
      background-position-x: calc(100% - 2px);
    }
  }

  &.module-config {
    background-image: url(../../settings.svg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-color: transparent;
    background-size: 1.4em;
    padding-block-start: 4px;
    padding-block-end: 0;
    padding-inline-start: 1.6em;
    padding-inline-end: 4px;

    [dir='rtl'] & {
      background-position-x: 100%;
    }

    body.dark-mode & {
      background-image: url(../../settings-dark.svg);
    }
  }
}

.module-desc {
  details:has(.module-implies) {
    summary::marker {
      color: var(--modules-implies);
    }
  }
  details:has(.module-requires) {
    summary::marker {
      color: var(--modules-requires);
    }
  }
}

#m_search {
  color: var(--search-color);
  background: url(../../search.svg) no-repeat 0 center;
  background-color: transparent;
  padding-inline-start: 20px;

  [dir='rtl'] & {
    background-position-x: 100%;
  }
}

.mod-more {
  padding-block-start: 0.5em;

  &,
  li {
    margin-block-start: 0.25em;
    margin-block-end: 0;
    margin-inline-start: 1em;
    margin-inline-end: 0;
    padding: 0;
    list-style-type: none;
  }
}

#plugin-update td {
  vertical-align: baseline;
}
