@charset "UTF-8";

.fav-list {
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;

  li {
    margin-inline-start: 0;
    padding-inline-start: 0;
    padding-block-start: 3px;
    padding-block-end: 3px;
    position: relative;

    #my-favs & {
      line-height: 2;
      border-block-end: 1px solid var(--fav-list-border);
      padding-block-start: 3px;
      padding-block-end: 3px;
      position: relative;
    }

    #my-favs:focus-within & {
      border-block-end-color: var(--fav-list-border-alt);
      @media (prefers-contrast: more) {
        outline: 1px solid var(--fieldset-border);
      }
    }

    span.zoom {
      display: none;

      img {
        inline-size: 5em;
        max-inline-size: 64px;
        block-size: 5em;
        max-block-size: 64px;
      }
    }

    &:hover span.zoom {
      display: block;
      position: absolute;
      inset-block-start: 2em;
      inset-inline-start: 10em;
      background-color: var(--index-icon-background);
      border: 1px solid var(--index-icon-border);
      padding: 1em;
      border-radius: 0.5em;
      z-index: 1;
    }
  }

  img {
    vertical-align: middle;
    margin-block-start: -0.235ex; /* margin-top: -.235ex see https://www.matthecat.com/aligner-icone-et-texte.html */
    margin-inline-end: 0.2em;
    inline-size: 1em;
    block-size: 1em;
  }
}

#my-favs {
  border-color: var(--my-favs-border);
}

#available-favs {
  :is(input, label),
  label span {
    white-space: normal;
    display: inline;
  }

  label span.zoom {
    display: none;
  }

  li:hover label span.zoom {
    display: block;
    position: absolute;
    inset-block-start: 2em;
    inset-inline-start: 10em;
    background-color: var(--index-icon-background);
    border: 1px solid var(--index-icon-border);
    padding: 1em;
    border-radius: 0.5em;
    z-index: 1;
  }
}

#user-options label.ib {
  display: inline-block;
  inline-size: 14em;
  padding-inline-end: 1em;
}

#user_options_columns label {
  margin-inline-start: 1em;
}

.cols_sort_handler.ui-sortable {
  border: none;
  border-radius: 0;
  border-block-end: 1px solid var(--cols-list-border);
  padding-block-start: 3px;
  padding-block-end: 3px;

  &:focus-within {
    border-block-end-color: var(--cols-list-border-alt);
    @media (prefers-contrast: more) {
      outline: 1px solid var(--fieldset-border);
    }
  }
}
