@charset "UTF-8";

.blog-perm {
  margin-block-start: 2em;
  padding-block-start: 2em;
  font-weight: bold;
}

.ul-perm {
  list-style-type: square;
  margin-inline-start: 0;
  padding-inline-start: 3.5em;
  margin-block-end: 0;
}

.add-perm {
  padding-block-start: 0.5em;
  padding-inline-start: 2.5em;
  margin-inline-start: 0;
}

input.perm-second-level {
  margin-inline-start: 1em;
}

input.perm-third-level {
  margin-inline-start: 2em;
}
