@charset "UTF-8";

/* ---------------------------------------------- Couleurs ajoutées via javascript

/* Sortable (jQuery UI) */

.sortable-area {
  border: 1px dashed currentColor;
  background-color: var(--main-menu-background);
}

div.ui-sortable-handle {
  border: 1px dashed currentColor;
  border-radius: 0.75em;

  #dashboard-main & {
    padding: 1em !important;
    margin-block-end: 1em !important;
    background: var(--ui-sortable-background) !important;
    .ui-sortable-handle {
      background: var(--ui-sortable-background-bis) !important;
      .ui-sortable-handle {
        background: var(--ui-sortable-background-ter) !important;
      }
    }
    &:hover {
      cursor: move;
    }
  }
}

tr.ui-sortable-handle {
  &:hover {
    cursor: move;
  }
}

/* Sortable (JS), generally table using header */
.js-sortable {
  th:hover {
    cursor: pointer;
  }
}

/* Badges (common.js) */

.badgeable {
  /* class to set to badge parent's, not mandatory for menu items */
  position: relative;
}

/* Badge design */

.badge {
  font-size: round(nearest, calc(1em / 1.2), 1px);
  color: var(--badge-color);
  background-color: var(--badge-std-background);
  border: 1px solid transparent;
  vertical-align: top;
  border-radius: 0.25em;
  padding-block-start: 0.1em;
  padding-block-end: 0;
  padding-inline: 0.5em;
}
@media (prefers-contrast: more) {
  .badge {
    border: 1px solid var(--badge-border);
  }
}

.badge-icon {
  background-color: var(--badge-soft-background);
}

/* Badge background override */

.badge-std {
  background-color: var(--badge-std-background);
}

.badge-info {
  background-color: var(--badge-info-background);
}

.badge-soft {
  background-color: var(--badge-soft-background);
}

/* Badge position */

.badge-block {
  /* Dashboard module/icon → badge on top right */
  position: absolute;
  inset-block-start: -10px;
  inset-inline-end: -10px;
}

.badge-theme {
  position: absolute;
  inset-block-end: 1px;
  inset-block-start: auto;
  inset-inline-end: 1px;
  background-color: var(--badge-soft-background);
  color: contrast-color(var(--badge-soft-background));
  font-size: round(nearest, 0.75em, 1px);
}

.badge-theme-glaz {
  background-color: var(--theme-tplset-glaz);
  color: contrast-color(var(--theme-tplset-glaz));
}
.badge-theme-dotty {
  background-color: var(--theme-tplset-dotty);
  color: contrast-color(var(--theme-tplset-dotty));
}

@media screen and (width <= 600px) {
  .badge-block {
    inset-inline-end: -5px;
  }
  .box .badge-block {
    /* Dashboard module → badge on top right, inside box */
    inset-block-start: 0.25em;
    inset-inline-end: 0.25em;
  }
}

.badge-icon {
  /* Dashboard icon → badge on top right */
  inset-inline-end: 1.75em;
}

@media screen and (width <= 600px) {
  .badge-icon {
    inset-block-start: 5px;
  }
}

.badge-inline {
  /* Menu item */
  margin-inline-start: 0.5em;
  font-size: round(nearest, 0.75em, 1px);
  block-size: fit-content;
  inline-size: fit-content;
}

.badge-left {
  inset-inline-end: auto;
  inset-inline-start: -10px;

  &.badge-icon {
    inset-inline-start: 20px;
  }
}

/* Badge design option */

.badge-noborder {
  border: none;
}

.badge-small {
  font-size: round(nearest, calc(1em / 1.2), 1px);

  &.badge-icon {
    inset-inline-end: 25px;

    &.badge-left {
      inset-inline-end: auto;
      inset-inline-start: 25px;
    }
  }
}

.badge-square {
  border-radius: 0;
}
