/*
 * In admin/style folder, run, for development:
 * sass --watch --no-charset ./scss:./
 *
 * And, for production
 * sass --watch --no-source-map --no-charset --style=compressed ./scss:./
 */

/** --------------------------------------------------
    Start
--------------------------------------------------- */
@use 'init/rebase'; // init html tags
@use 'init/config'; // variables

/** --------------------------------------------------
    Colors
--------------------------------------------------- */
@use 'themes/default'; // Light theme
@use 'themes/dark'; // Dark theme
@use 'themes/themes'; // Theme selector

/** --------------------------------------------------
    Common rules
--------------------------------------------------- */
@use 'partials/common'; // headings, links
@use 'partials/a11y';

/** --------------------------------------------------
    Layout
--------------------------------------------------- */
@use 'partials/layout';

/** --------------------------------------------------
    Elements
--------------------------------------------------- */
@use 'partials/markup';
@use 'partials/forms';
@use 'partials/buttons';
@use 'partials/messages';

/** --------------------------------------------------
    Components
--------------------------------------------------- */
@use 'partials/header';
@use 'partials/main-menu';
@use 'partials/content';
@use 'partials/footer';

/** --------------------------------------------------
    Tables and Filters
--------------------------------------------------- */
@use 'partials/tables';
@use 'partials/filters';

/** --------------------------------------------------
    Pages
--------------------------------------------------- */
@use 'partials/auth';
@use 'partials/index';
@use 'partials/blog_pref';
@use 'partials/blog_theme';
@use 'partials/categories';
@use 'partials/media';
@use 'partials/media_item';
@use 'partials/plugins';
@use 'partials/entry';
@use 'partials/preferences';
@use 'partials/user';
@use 'partials/charte';

/** --------------------------------------------------
    Misc
--------------------------------------------------- */
@use 'partials/classes';
@use 'partials/utils';
@use 'partials/mediaqueries';

/** --------------------------------------------------
  Plugins
--------------------------------------------------- */
@use 'partials/editors';

/** --------------------------------------------------
  3rd parties
--------------------------------------------------- */
@use 'vendor/magnific-popup';
@use 'vendor/codemirror';

/** --------------------------------------------------
    Debug
--------------------------------------------------- */
@use 'partials/debug';
