/** --------------------------------------------------
    Start
--------------------------------------------------- */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  min-width: 0; /* cf https://raphaelgoetter.wordpress.com/2016/11/09/flexbox-min-width-0-is-the-new-zoom-1/ */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  /* max-width: 100%; don't do this with unsized SVG used as it may cause unexpected behavior */
  /* display: block; do not display:block for img! */
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Rebase */
html {
  font-size: 100%;
  text-size-adjust: 100%;
  padding: 0;
}

body {
  padding: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: none;
}
a img {
  border: none;
}

q,
cite {
  font-style: italic;
}

q::before,
q::after {
  content: "";
}

sup,
sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

b,
strong {
  font-weight: bold;
  font-size: 0.9375em;
}

small {
  font-size: 80%;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

fieldset {
  padding: 0;
  border: none;
}

input,
button,
select {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  border: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

td,
th {
  padding: 1px;
  vertical-align: top;
  text-align: left;
}

td:first-child,
th:first-child {
  empty-cells: hide;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* scripts */
body > script {
  display: none !important;
}

/* Headings reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

/* Screen-reader only */
.visually-hidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visually-hidden:focus,
.visually-hidden:active {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  white-space: normal;
}

/** --------------------------------------------------
    Common rules
--------------------------------------------------- */
/* ------------------------------------------------------------------------------------
                              A11Y - Accessibilité
------------------------------------------------------------------------------------ */
/* Remove animations for folks who set their OS to reduce motion.
 1. Immediately jump any animation to the end point
 2. Remove transitions & fixed background attachment
 See: https://github.com/mozdevs/cssremedy/issues/11
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
@media (prefers-contrast: more) {
  *:focus {
    outline: 2px solid currentcolor !important;
  }
}
/** --------------------------------------------------
    Install
--------------------------------------------------- */
/* Install */
a,
a:is(:link, :visited) {
  color: #2373a8;
  text-decoration: none;
  border-bottom: 1px dotted #f90;
}

a:is(:hover, :active, :focus) {
  text-decoration: underline;
}

:is(div, p):is(.error, .message, .static-msg) {
  padding: 0.5em 0.5em 0.5em 60px;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 8px;
}

p:is(.error, .message, .static-msg) {
  padding-top: 1em;
  padding-bottom: 1em;
}

:is(div, p).error {
  background: #e5bfbf url(msg-error.svg) no-repeat 10px 10px;
  background-size: 2.5em;
  color: #600;
}

:is(div, p):is(.message, .static-msg) {
  background: #666 url(msg-info.svg) no-repeat 10px 10px;
  background-size: 2.5em;
  color: #fff;
}

:is(div, p):is(.message, .static-msg) a {
  color: #fff;
}

label {
  display: block;
}

label :is(input, select, span) {
  display: block;
}

:is(label, span).required {
  font-weight: bold;
}

label.required :is(abbr, span),
span.required {
  color: #900;
  font-size: 1.3em;
  text-decoration: none;
}

label.required span {
  display: inline-block;
}

form {
  display: block;
  margin: 0;
  padding: 0;
}

fieldset {
  display: block;
  margin: 0 0 1em 0;
  padding: 1em 0.5em;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ccc;
  background: #f5f5f5;
}

legend {
  font-weight: bold;
  padding: 0.2em 0.6em;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  background: #f5f5f5;
  margin-bottom: 0.5em;
}

a#obfus {
  color: #fff;
  background-color: #666;
  padding: 0 10px;
  border-radius: 2px;
}

input[type=submit] {
  font-size: 1.05em;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.1em 0.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.2em;
  margin-bottom: 0.1em;
  margin-top: 1em;
  color: #fff;
  border: 1px solid #3a539b;
  background: #3a539b;
  width: 100%;
}

input[type=submit]:is(:hover, :focus) {
  color: #3a539b;
  background: #fff;
}

body.install {
  font-family: system-ui, sans-serif;
  color: #333;
  background: #fff;
  margin: 0;
  padding: 0;
}

body.install #content {
  width: 32em;
  margin: 1em auto;
}

body.install #main {
  padding: 1em 2em;
  border: 1px #ccc solid;
  border-radius: 8px;
}

body.install h1,
h2 {
  font-family: system-ui, sans-serif;
}

body.install h1 {
  background: url(dc_logos/dotclear-light.svg) no-repeat top center;
  background-size: auto 2.5em;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  color: #666;
  padding-top: 70px;
  margin: 0 0 0.75em 0;
}

body.install h2 {
  color: #f90;
}

body.install h3 {
  margin-top: 0;
}

body.install label {
  color: #555;
}

body.install .msg {
  padding: 10px 10px 10px 60px;
  border-radius: 8px;
}

body.install .warning {
  background: #ffc url(msg-warning.svg) no-repeat 10px 10px;
  background-size: 2.5em;
}

body.install .notice {
  background: #eef url(msg-info.svg) no-repeat 10px 10px;
  background-size: 2.5em;
}

/* password strength indicator */
.pw-strength-meter {
  display: block;
  margin-block-start: 0.25em;
}
