/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  min-width: 0; /* cf https://raphaelgoetter.wordpress.com/2016/11/09/flexbox-min-width-0-is-the-new-zoom-1/ */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  /* max-width: 100%; don't do this with unsized SVG used as it may cause unexpected behavior */
  /* display: block; do not display:block for img! */
}
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Rebase */
html {
  font-size: 100%;
  text-size-adjust: 100%;
  padding: 0;
}

body {
  padding: 0;
}

a {
  background: transparent;

  &:focus {
    outline: thin dotted;
  }

  &:active,
  &:hover {
    outline: none;
  }

  img {
    border: none;
  }
}

q,
cite {
  font-style: italic;
}

q::before,
q::after {
  content: '';
}

sup,
sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

b,
strong {
  font-weight: bold;
  font-size: 0.9375em;
}

small {
  font-size: 80%;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

fieldset {
  padding: 0;
  border: none;
}

input,
button,
select {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0;
  border: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

td,
th {
  padding: 1px;
  vertical-align: top;
  text-align: left;
}

td:first-child,
th:first-child {
  empty-cells: hide;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* scripts */

body > script {
  display: none !important;
}

/* Headings reset */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

/* Screen-reader only */

// Mix from Nico3333 (https://github.com/nico3333fr/ROCSSTI/blob/master/src/css/rocssti-fr.css#L668)
// and ffood (http://www.ffoodd.fr/cache-cache-css/)

.visually-hidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visually-hidden:focus,
.visually-hidden:active {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  white-space: normal;
}
