/* Default */
html,body {
	padding: 10px !important;
	margin: 0 !important;
	background: #fff !important;
}
body {
	height: 94% !important;
	padding: 0 !important;
}
body, td, pre {
	color: #000;
	font: 76%/1.5em Helvetica,Arial,sans-serif;
	margin: 8px;
}
body.mceForceColors {
	background: #fff;
	color: #000;
}
* html body {
	scrollbar-3dlight-color:#F0F0EE;
	scrollbar-arrow-color:#676662;
	scrollbar-base-color:#F0F0EE;
	scrollbar-darkshadow-color:#DDD;
	scrollbar-face-color:#E0E0DD;
	scrollbar-highlight-color:#F0F0EE;
	scrollbar-shadow-color:#F0F0EE;
	scrollbar-track-color:#F5F5F5;
}

/* Elements */
h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.17em; }
img { border: 0; }
cite, { border-bottom: 1px dashed #bbb; }
q:before, q:after { font-size: 1.2em; }
q:before {
	content: '\201C';
	margin-right: 1px;
}
q:after {
	content: '\201D';
	margin-left: 3px;
}
a {
	color: #2373A8;
	border-bottom: 1px dotted #F90;
	text-decoration: none;
}
a[hreflang]:before {
	content: attr(hreflang);
	background-color: whiteSmoke;
	border: 1px solid #bbb;
	margin-right: 0.3em;
	padding: 0 3px 0 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
acronym {
	border-bottom: 1px dotted #bbb;
	cursor: help;
}
abbr {
	border-bottom: 1px dashed #bbb;
	cursor:help;
}
.mceItemAnchor:before {
	content: attr(name);
	background: whiteSmoke url(img/anchor.png) no-repeat 0 3px;
	font-style: italic;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin: 0 3px 0 3px;
	padding: 0 2px 0 12px;
}
span.mceItemNbsp {
	background: whiteSmoke;
	border-bottom: 1px dashed #ccc;
}
td.mceSelected, th.mceSelected { background-color: #3399ff !important; }

/* Table */
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid { border: 1px dashed #ccc; }
table { cursor: default; }
table td, table th { cursor: text; }

/* Media */
div.media object, div.media iframe { display: block; }
div.media {
	display: block;
}
div.media object, div.media iframe {
	border: 1px dotted #ccc;
	background-color: whiteSmoke;
	background-position: center;
	background-repeat: no-repeat;
}
div.media-audio object, div.media-audio iframe { background-image: url(img/audio.png); }
div.media-video object, div.media-video iframe { background-image: url(img/video.png); }
div.media-rich object, div.media-rich iframe { background-image: url(img/rich.png); }

/* Other */
img:-moz-broken {
	-moz-force-broken-image-icon: 1;
	width: 24px;
	height: 24px;
}
font[face=mceinline] { font-family: inherit !important; }