// Scheme management
html {
  // Light variables
  --outgoing-link-filter: 50%;
  --index-icon-contrast: 100%;
  --mark-attach-filter: hue-rotate(300deg) saturate(0.64);
  --mark-selected-filter: hue-rotate(300deg) saturate(0.64);
  --mark-pending-filter: none;
  --mark-locked-filter: none;

  /* Cope with automatic scheme */
  color-scheme: light dark;

  &.light,
  &[data-theme='light'],
  body.light-mode {
    /* forces light color-scheme */
    color-scheme: light;
    /* Hide dark stuff */
    .dark-only {
      display: none !important;
    }
  }
  &.dark,
  &[data-theme='dark'],
  body.dark-mode {
    /* forces dark color-scheme */
    color-scheme: dark;
    /* Hide light stuff */
    .light-only {
      display: none !important;
    }

    // Dark variables
    --outgoing-link-filter: 100%;
    --index-icon-contrast: 130%;
    --mark-attach-filter: hue-rotate(260deg) saturate(100) saturate(0.2) brightness(220%);
    --mark-selected-filter: hue-rotate(260deg) saturate(100) saturate(0.2) brightness(220%);
    --mark-pending-filter: brightness(2);
    --mark-locked-filter: brightness(2);
  }
}

/* Colors */

:root {
  // Common

  --body-color: light-dark(#323232, #dcdee0);
  --body-background: light-dark(#fff, #272b30);

  --title-color: light-dark(#676e78, #b2b5ba);
  --title-alt-color: light-dark(#d33800, #ff6e3a);

  --scroll: light-dark(#3a539b, #bee74b);

  // Layout

  --header-color: light-dark(#fff, #dcdee0);
  --header-background: light-dark(#3a539b, #272b30);
  --header-background-alt: light-dark(#3a539b, #565a60);
  --header-border: light-dark(#a2cbe9, #9ac123);
  --header-border-alt: light-dark(#323232, #303236);
  --header-border-safe: light-dark(#ffd478, #ffd478);
  --header-link-border: light-dark(#868686, #82878f);
  --header-active-color: light-dark(#d33800, #fff);
  --header-active-background: light-dark(#f3f3f3, #82878f);
  --header-active-color-alt: light-dark(#fff, #fff);
  --header-active-background-alt: light-dark(#868686, #82878f);

  --upgrade-mode: light-dark(#474885, #244656);

  --wrapper-background: var(--body-background);

  --content-background: var(--body-background);

  --tabs-color: light-dark(#323232, #303236);
  --tabs-border: light-dark(#c9c9c9, #ecedee);
  --tabs-background: light-dark(#f3f3f3, #c9cbcf);
  --tabs-active-color: light-dark(#d33800, #fff);
  --tabs-active-background: light-dark(#fff, #82878f);

  --main-menu-background: light-dark(#f3f3f3, #494c52);
  --main-menu-title-color: light-dark(#676e78, #c9cbcf);
  --main-menu-item-color: var(--body-color);
  --main-menu-item-border: light-dark(#caced2, #caced2);
  --main-menu-active-color: light-dark(#d30e60, #fff);
  --main-menu-active-background: light-dark(#fff, #82878f);
  --main-menu-border: light-dark(#a2cbe9, #a2cbe9);

  --search-color: light-dark(#323232, #fff);
  --search-border: light-dark(#868686, #c9cbcf);
  --search-background: light-dark(#c9c9c9, #3a539b);
  --search-submit-color: light-dark(#fff, #fff);
  --search-outline: light-dark(#bee74b, #bee74b);

  --footer-background: var(--body-background);
  --footer-border: light-dark(#caced2, #caced2);

  --collapser-focus: light-dark(#3a539b, #9ac123);
  --collapser-background: light-dark(#a2cbe9, #9ac123);

  --popup-title-color: light-dark(#fff, #dcdee0);
  --popup-title-background: light-dark(#3a539b, #565a60);

  // Markup

  --breadcrumb-background: var(--body-background);
  --breadcrumb-border: light-dark(#868686, #82878f);
  --breadcrumb-current: light-dark(#d30e60, #f783b3);

  --fieldset-pretty-title-color: light-dark(#d33800, #ff6e3a);
  --fieldset-smart-title-color: light-dark(#323232, #f3f4f5);
  --entry-sidebar-title-color: light-dark(#323232, #ecedee);
  --title-label-color: light-dark(#323232, #ecedee);

  --table-caption-color: var(--body-color);
  --head-border: light-dark(#dbdbdb, #dadbde);
  --head-background: light-dark(#f3f3f3, #565a60);
  --line-input-background: light-dark(#fff, #c9cbcf);
  --line-focus-background: light-dark(#ededed, #494c52);
  --cell-border: light-dark(#ececec, #ecedee);
  --cell-noborder-color: light-dark(#dbdbdb, #dadbde);

  --hr-color: light-dark(#3a539b, #caced2);

  --code-color: light-dark(#323232, #272b30);
  --code-background: light-dark(#fefacd, #fefacd);

  --link-color: light-dark(#2373a8, #76c2f1);
  --link-border: light-dark(#868686, #82878f);
  --discrete-link-color: light-dark(#323232, #dcdee0);
  --link-outline: light-dark(#bee74b, #bee74b);

  // Forms

  --fieldset-border: light-dark(#3a539b, #caced2);
  --fieldset-background: light-dark(#fff, #272b30);
  --fieldset-focus-background: light-dark(#ededed, #343a40);

  --invalid-input-color: light-dark(#000, #000);
  --invalid-input-border: light-dark(#ae323b, #ae323b);
  --invalid-input-background: light-dark(#ffbaba, #ffbaba);

  --input-color: light-dark(#000, #000);
  --input-background: light-dark(#f9f9f9, #ecedee);
  --input-border: light-dark(#595959, #747c87);
  --input-focus: light-dark(#bee74b, #bee74b);

  --input-file-color: var(--body-color);
  --input-file-background: var(--body-background);

  --form-note-color: light-dark(#676e78, #bce8f1);

  --required: light-dark(#ae323b, #f783b3);

  // Buttons

  --button-color: light-dark(#000, #000);
  --button-border: light-dark(#3a539b, #82878f);

  --submit-color: light-dark(#fff, #fff);
  --submit-background: light-dark(#3a539b, #3a539b);
  --submit-border: light-dark(#caced2, #82878f);

  --reset-color: light-dark(#000, #000);
  --reset-background: light-dark(#eaeaea, #eaeaea);
  --reset-background-alt: light-dark(#ffffff, #ffffff);

  --delete-color: light-dark(#ae323b, #ae323b);
  --delete-hover-color: light-dark(#fff, #fff);
  --delete-hover-background: light-dark(#b33630, #b33630);

  --add-color: light-dark(#000, #000);
  --add-background: light-dark(#bee74b, #bee74b);
  --add-color-alt: light-dark(#628011, #628011);
  --add-background-alt: light-dark(#fff, #fff);

  --clone-color: light-dark(#7e2999, #7e2999);
  --clone-background: light-dark(#eaeaea, #eaeaea);
  --clone-hover-color: light-dark(#fff, #fff);
  --clone-hover-background: light-dark(#9f34c1, #9f34c1);

  --button-disabled-color: light-dark(#676e78, #676e78);
  --button-disabled-background: light-dark(#f3f3f3, #f3f4f5);
  --button-disabled-border: light-dark(#caced2, #82878f);

  --ajax-color: light-dark(#323232, #303236);
  --ajax-background: light-dark(#fff, #fff);
  --ajax-background-alt: light-dark(#a2cbe9, #a2cbe9);
  --ajax-border: light-dark(#3a539b, #676e78);

  --gotop-color: light-dark(#323232, #303236);
  --gotop-background: light-dark(transparent, transparent);
  --gotop-border: none;

  --addmeta-color: light-dark(#000, #fff);
  --addmeta-background: light-dark(transparent, transparent);
  --addmeta-focus-color: light-dark(#000, #000);
  --addmeta-focus-background: light-dark(#abd0eb, #abd0eb);

  // Messages

  --msg-color: light-dark(#fff, #fff);
  --msg-background: light-dark(#676e78, #676e78);
  --msg-background-alt: light-dark(#caced2, #caced2);

  --msg-info-color: light-dark(#323232, #fff);
  --msg-info-background: light-dark(#d9edf7, #494c52);
  --msg-info-border: light-dark(#868686, #494c52);

  --msg-warn-color: light-dark(#323232, #303236);
  --msg-warn-background: light-dark(#fefacd, #fefacd);
  --msg-warn-background-alt: light-dark(#ffd478, #ffd478);
  --msg-warn-border: light-dark(#868686, #fefacd);

  --msg-error-color: light-dark(#000, #000);
  --msg-error-background: light-dark(#ffbaba, #ffbaba);
  --msg-error-background-alt: light-dark(#fefacd, #fefacd);

  --msg-success-color: light-dark(#000, #000);
  --msg-success-background: light-dark(#bee74b, #bee74b);
  --msg-success-background-alt: light-dark(#9bca1c, #9bca1c);

  --dc-update-color: light-dark(#000, #000);
  --dc-update-background: light-dark(#a2cbe9, #a2cbe9);

  // Filters

  --form-control-color: light-dark(#000, #fff);

  --filter-border: light-dark(#a2cbe9, #a2cbe9);
  --filter-options-border: light-dark(#c9c9c9, #c9cbcf);
  --filter-focus-background: light-dark(#ededed, #494c52);

  // Prelude

  --prelude-color: light-dark(#323232, #303236);
  --prelude-background: light-dark(#a2cbe9, #a2cbe9);
  --prelude-background-alt: light-dark(#fff, #fff);

  // Help

  --help-background: light-dark(#f3f3f3, #303236);
  --help-border: light-dark(#ffd478, #ffd478);
  --help-button-border: light-dark(#3a539b, #676e78);
  --help-button-background: light-dark(#f3f3f3, #303236);
  --help-title-color: light-dark(#3a539b, #a2cbe9);

  // Tooltip (in footer)

  --tooltip-color: light-dark(#3a539b, #fff);
  --tooltip-background: light-dark(#ffffffe6, #000000e6);

  // UI sortable

  --ui-sortable-background: light-dark(#f0f8ff, #3d314e);
  --ui-sortable-background-bis: light-dark(#faebd7, #6d396e);
  --ui-sortable-background-ter: light-dark(#f6fffb, #2f4143);

  // Application pages:
  // - Auth (white background page)

  --login-fieldset-background: light-dark(#fff, #303236);
  --login-fieldset-border: light-dark(#9bca1c, #9bca1c);

  // - Index

  --index-link-color: light-dark(#323232, #ecedee);
  --index-link-border: light-dark(#868686, #82878f);
  --index-icon-background: light-dark(#f9f9f9, #565a60);
  --index-icon-border: light-dark(#3a539b, #ecedee);
  --index-icon-outline: light-dark(#bee74b, #3a539b);

  --quick-background: light-dark(#f9f9f9, #303236);
  --quick-border: light-dark(#3a539b, #dadbde);
  --quick-info-background: light-dark(#d9edf7, #d9edf7);
  --quick-info-border: light-dark(#bce8f1, #bce8f1);
  --quick-info-color: light-dark(#323232, #303236);

  --index-box-border: light-dark(#3a539b, #caced2);

  --drag-n-drop-off: light-dark(#868686, #82878f);
  --drag-n-drop-on: light-dark(#137bbb, #bee74b);

  // - Blog params

  --blog-user-border: light-dark(#caced2, #caced2);
  --blog-super-background: light-dark(#d9edf780, #d9edf726);
  --blog-super-border: light-dark(#bee74b, #bee74b);

  // - Blog theme

  --theme-box-border: light-dark(#dbdbdb, #dadbde);
  --theme-box-over: light-dark(#f3f3f3, #565a60);

  --theme-name-color: light-dark(#676e78, #c9cbcf);

  --theme-img-border: light-dark(#c9c9c9, #fff);
  --theme-img-shadow: light-dark(#3232321a, #3032361a);

  --theme-action-background: light-dark(#f3f3f3, #565a60);
  --theme-action-border: light-dark(#ececec, transparent);

  --theme-current-background: light-dark(#f3f3f3, #565a60);
  --theme-current-border: light-dark(#ececec, #ecedee);

  --theme-current-img-border: light-dark(#fff, #fff);
  --theme-current-name-color: light-dark(#d33800, #ff6e3a);

  // - Categories

  --cat-placeholder-outline: light-dark(#2373a8, #76c2f1);

  --cat-line-border: light-dark(#caced2, #caced2);
  --subcat-line-border: light-dark(#dbdbdb, #dadbde);

  // - Media

  --media-folder-background: light-dark(transparent, transparent);
  --media-folder-border: light-dark(#c9c9c9, #ecedee);
  --media-folderup-border: light-dark(transparent, transparent);
  --media-folder-link: light-dark(#676e78, #c9cbcf);
  --media-item-border: light-dark(#3a539b, #dadbde);
  --media-item-border-private: light-dark(#c44d58, #c44d58);
  --media-files-border: light-dark(#dbdbdb, #dadbde);
  --media-item-active-background: light-dark(#f3f3f3, #3a3d41);

  --upload-color: light-dark(#556f0f, #556f0f);
  --upload-progress-color: light-dark(#fff, #fff);
  --upload-progress-background: light-dark(#556f0f, #556f0f);
  --upload-file-border: light-dark(#dbdbdb, #dadbde);
  --upload-error-color: light-dark(#ae323b, #ae323b);

  // - Plugins

  --modules-background: light-dark(#f3f3f3, #303236);
  --modules-border: light-dark(#a2cbe9, #a2cbe9);

  // - Entry

  --entry-sb-title-border: light-dark(#676e78, #fff);
  --entry-sb-background: light-dark(#fff, #494c52);
  --entry-sb-focus-background: light-dark(#ededed, #565a60);
  --entry-sb-spacer: light-dark(#dbdbdb, #f3f4f5);

  // - Preferences

  --fav-list-border: light-dark(#ececec, #ecedee);
  --fav-list-border-alt: light-dark(#dbdbdb, #dadbde);

  --my-favs-border: light-dark(#9ac123, #9ac123);

  // - Charte

  --charte-title: light-dark(#d33800, #ff6e3a);
  --charte-one-box-border: light-dark(#dbdbdb, #dadbde);

  // Classes

  --ac-results-background: light-dark(#fff, #303236);
  --ac-results-border: light-dark(#ffd478, #ffd478);
  --ac-results-over: light-dark(#fff, #fff);
  --ac-results-over-background: light-dark(#2373a8, #35a5ea);

  --nav-background: var(--body-background);
  --nav-prevnext: light-dark(#2373a8, #76c2f1);
  --nav-prevnext-background: light-dark(#f3f3f3, #303236);

  --onblog-link: light-dark(#323232, #303236);
  --onblog-link-background: light-dark(#ececec, #ecedee);
  --onblog-link-border: light-dark(#ececec, #ecedee);

  --pager-link: light-dark(#2373a8, #76c2f1);
  --pager-active: light-dark(#676e78, #c9cbcf);
  --pager-background: light-dark(#f3f3f3, #f3f4f5);
  --pager-background-over: light-dark(#dbdbdb, #dadbde);
  --pager-off-background: light-dark(#fff, #fff);
  --pager-input-background: light-dark(#fff, #fff);
  --pager-border: light-dark(#dbdbdb, #dadbde);

  --index-no-link: light-dark(#c9c9c9, #c9cbcf);
  --index-active: light-dark(#fff, #fff);
  --index-active-background: light-dark(#676e78, #676e78);

  --step: light-dark(#676e78, #676e78);
  --step-background: light-dark(#f3f3f3, #f3f4f5);
  --step-border: light-dark(#caced2, #caced2);

  --offline: light-dark(#676e78, #82878f);
  --offline-background: light-dark(#f3f3f3, #303236);

  --rch-table-1st-color: light-dark(#c9c9c9, #c9cbcf);
  --rch-table-1st-background: light-dark(#595959, #565a60);
  --rch-table-1st-border: light-dark(#ececec, #ecedee);
  --rch-table-1st-link: light-dark(#bee74b, #bee74b);
  --rch-table-expand-color: var(--body-color);
  --rch-table-expand-background: var(--body-background);
  --rch-table-expand-border: light-dark(#ececec, #ecedee);
  --rch-table-td-link: light-dark(#2373a8, #bee74b);

  // Utils

  --badge-color: light-dark(#fff, #fff);
  --badge-border: light-dark(transparent, #dcdee0);
  --badge-std-background: light-dark(#d54e21, #d54e21);
  --badge-soft-background: light-dark(#567686, #567686);
  --badge-info-background: light-dark(#3a539b, #3a539b);

  // Debug

  --debug-color: light-dark(#282828, #282828);
  --debug-background: light-dark(#ffd478, #ffd478);
  --debug-border: light-dark(#ffd478, #ffd478);
}
