.date-picker {
	border-collapse : collapse;
	background : #fff;
	color : #fff;
	border: 1px solid #666;
	border-width : 1px 2px 2px 1px;
}
.date-picker th {
	border : none;
	color : #000;
	text-align : center;
}
.date-picker td {
	border : 1px solid #666;
	text-align : center;
	padding : 4px 6px;
}
th.date-picker-month {
	text-align : left;
}
th.date-picker-year {
	text-align : right;
}
.date-picker-control, th.date-picker-control {
	color : #06c;
	cursor : pointer;
}
.date-picker-day, .date-picker-today {
	color : #000;
	background : #eee;
	cursor : pointer;
}
.date-picker-today {
	background : #ccc;
}